<%= form_for invite do |f| %>
  <div>
    <%= f.hidden_field :site_id, value: site.id %>
  </div>

  <div>
    <%= f.text_field :email, placeholder: "Invite someone by email" %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>

<% end %>
