<div id="scroll-div" style="overflow: scroll; width: 100%; height: 100%;">
  <%= render partial: 'layouts/header', locals: { transitioned: false } %>
<!--nav-bar-->

<!-- content -->
  <!-- ajax loader -->
  <div class="full" id="ajax-loader" style="display: block;">
    <div class="cssload-thecube">
      <div class="cssload-cube cssload-c1"></div>
      <div class="cssload-cube cssload-c2"></div>
      <div class="cssload-cube cssload-c4"></div>
      <div class="cssload-cube cssload-c3"></div>
    </div>
  </div>

  <!-- START Landing -->
  <div class="landing gradient-background">
    <h1 class="landing-logo evia-font">Evia</h1>

    <div class="landing-text">
      <h1>Send Your Team a Message</h1>
    </div>
    <div class="landing-content">
      <div class="main-object">
        <p>&nbsp;</p>
      </div>

      <div class="landing-icons">
        <span id="set-1">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        </span>

        <span id="set-2">
          <i class="fa fa-check-circle" aria-hidden="true"></i>
        </span>
      </div>

      <div class="send">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <!-- end tabs -->

  <div class="main lead-margin">
    <section class="intro">
      <div class="container">
        <div class="row">
          <h1 class="text-center splash-header">Your Next Project Just Got a Lot More Productive</h1>
          <p class="text-center">Group Messaging and Task Management. <b>All In One Place.</b></p>
          <hr class="fifty"></hr>
        </div>

        <div class="row">
          <img class="into-img transitionable" id="transition-0" src="https://s3.amazonaws.com/mercury-app-assets/laptop-preview.png">

          <div class="intro-content">
            <div class="intro-item transitionable" id="transition-1">
              <i class="fa fa-envelope-o"></i>
              <p><b>Task Management, Simplified.</b> As you message your team, mark any message as a task. It's easy.</p>
            </div>

            <div class="intro-item transitionable" id="transition-2">
              <i class="fa fa-line-chart"></i>
              <p><b>Eliminate Barriers.</b> How often does an email or text go  forgotten? <span class="evia-font">Evia</span> keeps your messages and tasks in one place.</p>
            </div>

            <div class="intro-item transitionable" id="transition-3">
              <i class="fa fa-smile-o"></i>
              <p><b>Stay Busy.</b> <span class="evia-font">Evia</span> gives you the tools to keep your team happy, organized, and on task.</p>
            </div>
          </div>
        </div>
      </div>
   </section>

   <section id="why">
    <div class="container">
      <div class="row">
        <div class="eight offset-by-two columns text-center">
          <h1 class="splash-header">Why <span class="evia-font">Evia</span>? It's Simple</h1>
          <p ><span class="evia-font">Evia</span> was made to increase productivity for your next project. Email and other productivity apps can be clunky, busy, or counterintuitive. <span class="evia-font">Evia</span> layers powerful task-management features on top of a simple, familiar messaging interface.
          </p>
          <h3>Keep Your Projects in One Place</h3>
          <p>
            <i class="fa fa-coffee fa-4x transitionable" id="transition-4"></i>
            <i class="fa fa-commenting-o fa-5x transitionable" id="transition-5"></i>
            <i class="fa fa-check fa-5x transitionable" id="transition-6"></i>
          </p>
        </div>
      </div>
    </div>
   </section>

   <section id="features">
    <div class="container">
      <div class="row">
        <div class="twelve columns text-center">
          <h1 class="splash-header">Full of great features and benefits</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="four columns">
          <li><b>Task management, simplified.</b> Mark any message as a task.</li>
          <li><b>Real-time everything.</b> No refreshing required.</li>
          <li><b>Group messages.</b> Message single users or message as many groups as you want.</li>
        </div>
        <div class="four columns">
          <li><b>Search enabled.</b> Find everything you need by searching through messages and tasks.</li>
          <li><b>Mobile friendly.</b> Responsive design to give you access on the go.</li>
          <li><b>Monitor productivity.</b> A simple interface to see pending tasks and who's working on them</li>
        </div>
        <div class="four columns">
          <li><b>Transfer tasks.</b> Accidentally put a task in the wrong conversation? Transfer it to the correct one with ease.</li>
          <li><b>Easy onboarding.</b> Get your project members set up in no time.</li>
          <li><b>SSL-encryption.</b> Conversations stay safe and sound.</li>
        </div>
      </div>
    </div>
   </section>

   <section id="plans" class="sign-up-plans">
     <div class="container card">

      <div class="row">
        <%= link_to new_user_path, class: "splash-button" do %>
          <div class="six offset-by-three columns card-data">
            <h1 class="text-center splash-header">Join Today for Free!</h1>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class="twelve columns">
          <p class="text-center lead-in-text">
            <i>Start Getting Stuff Done</i>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="support-info">
   <div class="container">
     <div class="row">
       <div class="ten offset-by-one columns text-center">
         <h1 class="splash-header">Need help?</h1>
         <h3>Our team will be happy to assist you. </h3>
         <a href="mailto:admin@eviaonline.io">Send us an email</a>
         <p>&nbsp;</p>
         <p>&nbsp;</p>
       </div>
     </div>
   </div>
  </section>

  <%= render partial: "layouts/footer" %>

  </div>
</div>
