<div class="scroll-div" style="height:100%; width:100%; overflow: scroll;">
  <%= render partial: 'layouts/header' %>

	<div class="upgrade-featured">
		<div class="upgrade-featured_text">
			<h1>Upgrade to MercuryApp Pro</h1>
			<p><b>More</b> projects</p>
			<p><b>More</b> user's per project</p> 
			<p><b>More Productivity</b></p>
			<p>Upgrade today to get more out of your Mercury experience!</p>
		</div>
	</div>
</div>