<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="padding: 0 0px 30px; border: 1px solid #ddd; max-width: 640px; border-top: none;">

      <h1 style="padding: 0 10px; color: #fff; background: #343477; font-family: helvetica, sans-serif; font-weight: 200;"><b>Evia</h1>

      <div style="padding: 50px; background: #fff; text-align: center;">

      <h3>Hello <%= @user.name %>!</h3>
      <p>
        The following task has been completed on the project <b><%= @project.name %></b>
      </p>
       <div style="background-color:#a7eba6; padding:10px; border-radius:10px 10px 0px 10px; display:inline-block; max-width: 400px">
        <%= simple_format(@task.message.content) %>
      </div>
              <p><a href="<%= @url %>" style ="display: inline-block; height: 38px; padding: 0 30px; color: #fff; text-align: center; font-size: 11px; font-weight: 600; line-height: 38px; letter-spacing: .1rem; text-transform: uppercase; text-decoration: none; white-space: nowrap; background-color: #343477; border-radius: 4px; border: 1px solid #343477; cursor: pointer; box-sizing: border-box;">Click here to view this message</a></p>
      <p>Have a great day!</p>
      <p>The Evia Team</p>
      </div>
    </div>
  </body>
</html>