<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello <%= @user.name %>!</h3>
    <p>
      This is your monthly newsletter.<br>
    </p>
    <p>
      We hope you are having a great experience using MercuryApp!
    </p>
    <p>Thanks for your time and have a great day!</p>
  </body>
</html>