<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello!</h1>
    <p>
      You have requested to reset your password<br>
    </p>
    <p>
      Here is your token: <%= @password_recovery.token %>
    </p>
    <p>
      Please visit this URL and insert your token and new password to complete the process, <a href="<%= @url %>">click here</a>.
    </p>
    <p>Thanks for your time and have a great day!</p>
  </body>
</html>