<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %>!</h1>
    <p>
      Thank you for adding the project <b><%= @project.name %></b>!
      <br>
    </p>
    <p>
      Here is the authentication token: <%= @project.token %>
    </p>
    <p>You can add our message center right onto your Wordpress project with our Wordpress Plugin. Download the zip file <a href="http://peekskillwebdesign.com/wp-content/uploads/2016/01/MercuryApp.zip">here</a>, navigate to your Wordpress Dashboard and add the plugin by uploading the zip file you just downloaded.</p>
    <p>Thanks for your time and have a great day!</p>
  </body>
</html>