<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="padding: 0 0px 30px; border: 1px solid #ddd; max-width: 640px; border-top: none;">

      <h1 style="padding: 0 10px; color: #fff; background: #343477; font-family: helvetica, sans-serif; font-weight: 200;"><b>Evia</h1>

      <div style="padding: 50px; background: #fff; text-align: center;">

        <h1>Hello <%= @user.name %>!</h1>
        <p>
          Thank you for joining <a href="<%= @url %>">Evia</a>! Here's a few things to do to get started
          <ul>
            <li>Create a project</li>
            <li>Invite other Evia users to join your project</li>
            <li>Being sending messages and setting tasks!</li>

          </ul>
        </p>

        <p>Visit our <a href="https://www.eviaonline.co/support">support page</a> for more info and features</p>

        <p>Thanks for your time and have a great day!</p>
      </div>
    </div>
  </body>
</html>