<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %>!</h1>
    <p>
      Thank you for joining <a href="<%= @url %>">MercuryApp</a>! Here's a few things to do to get started
      <ul>
        <li>Create a project</li>
        <li>Request to join a project</li>
        <li>Visit our <a href="https://www.mercuryapp.co/splash">home page</a> for more info and features</li>

      </ul>
    </p>
    <p>Thanks for your time and have a great day!</p>
  </body>
</html>