<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %>!</h1>
    <p>
      Thank you for joining <a href="<%= @url %>">MercuryApp</a>! Here's a few things to do to get started
      <ul>
        <li>Create a project</li>
        <li>Invite other MercuryApp users to join your project</li>
        <li>Being sending messages and setting tasks!</li>

      </ul>
    </p>

    <p>Visit our <a href="https://www.mercuryapp.co/support">support page</a> for more info and features</p>

    <p>Thanks for your time and have a great day!</p>
  </body>
</html>