<div class="task-container" id="task-<%= task.id %>">
<small><b><%= task.user.first_name_last_initial %></b> <i><%= task.message.time_ago_to_s %></i></small>
  <div class="task-item content">
  <div class="task-item icon">
  </div>
    <p>
      <%= task.content %>
    </p>
  </div>
</div>