<div class="task-container" id="task-<%= task.id %>">
  <div class="task-item icon">
    <i class="fa fa-check-circle"></i>
  </div>
  <div class="task-item content">
    <p>
      <%= task.content %>
    </p>
  </div>
  <div class="task-item user">
    <p>
      <%= task.user.first_name %>
    </p>
  </div>
</div>