<div class="display-table text-center eight offset-by-two columns">
	<div class="centered">
<%= render partial: "form", locals: { user: @user, default_tier_id: @default_tier_id} %>
<br>
<%= link_to 'cancel', :back %>

	</div>
</div>