<div id="msg-bx" class="mb-form">
  <header class="mb-header">
    <p>
      <span>Add a New Project</span>
    </p>
  </header>

  <div class="mb-body msg-bx-padding">
    <h4>Looks like you don't have any projects yet</h4>
    <p>
      Visit <%= link_to "eviaonline.io", home_path, target: "_blank" %> to add one!
    </p>
    <p>
      <small>Once you add a project, refresh this page :)</small>
    </p>
  </div>
</div>
