<div class="display-table text-center">
	<div class="centered">
		<h1>Awesome! You are just steps away<br>from messaging with Mercury</h1>	
		<%= render partial: "form", locals: { user: @user } %>
	</div>
</div>