<div id="ajax-loader-message">
  <div class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
  </div>
</div>

<div class="display-table text-center eight offset-by-two columns">
		<%= render partial: "form", locals: { user: @user, default_tier_id: @default_tier_id } %>
</div>