<div id="msg-bx" class="mb-form">
<header class="mb-header">
    <p>
      <span>Wrong Token!</span>
    </p>
</header>

      <div class="mb-body msg-bx-padding">
        <h4>Oops, It looks like your site token is wrong!</h4>
        <p>Please check your settings to be sure it is correct. If you need more help please see our <a href='#'>tutorials</a></p>
      </div>
    </div>
