// Variables for colors etc
$white: #fff;
$black: #222;
$grey: #ddd;
$darkgrey: #ababab;
$pwddark: #330033;
$pwdlight: #86aecc;
$brand-color: #330033;
$green: #a7eba6;
$full-green: #28a626;
$red:#ffb3b3;
$full-red:#e60000;
$blue: #86aecc;
$accent: #343477;
$purple: #343477;
$gr-start: #aac6db;
$gr-middle: #B5C3DB;
$gr-end:#B5C3DB;