/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 750px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

.mobile-nav {
    display: block;
    a {
      text-decoration: none;
    }
    width:auto;
}
.desktop-nav {
  display: none;
}

@media (min-width: 750px) {
  
.mobile-nav {
    display: none;
}

.desktop-nav {
  display: block;
  }
}