#features-landing {
  height: 460px;
  width: 100%;
  padding: 0;

  .features-header {
    color: $white;
    text-align: center;
    padding: 200px 20px 0 20px;

    h1 {
      font-size: 5rem;
    }

    h2 {
      font-size: 4rem;
    }

    img {
      height: 100px;
      margin-bottom: 30px;
    }
  }
}

#feature-section {
  border-bottom: 1px solid $grey;

  .feature-half {
    display: table;
    height: 400px;
  }

  .feature-content {
    display: table-cell;
    vertical-align: middle;
  }

  i {
    font-size: 15rem;
    color: lighten($pwddark, 10%);
  }

  .fa-6x {
    font-size: 20rem;
  }

  p {
    font-size: 2rem;
  }

  button {
    margin-top: 15px;
  }
}

#features-more {
  color: $white;
  padding-bottom: 60px;

  ul {
    list-style: none;
  }

  li {
    font-size: 1.8rem;
    margin-bottom: 12px;
  }
}