// input styling
input[type='text'],{
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size:125%;
    &:focus {
    background-color:#DBEDFC;
    border: 1px solid #33C3F0
  }
}

//login form
#msg-bx.mb-form {
 .mb-body{
  height: 500px;
  text-align: center;
  padding-top: 40px;
 }
 input[type='text'], input[type='password'] {
    &:focus {
    background-color:#DBEDFC;
  }
 }
}

//main sign in form

#new_user{
  input[type='text'], input[type='password'] {
  width:200px;
  font-size:125%;
 }
}

//new user form
#password{margin-top:10px;}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #fff !important;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.tier-select{
      margin-top:20px;
      margin-bottom:20px;

  label {
    display: block;
    margin:10px;
    cursor: pointer;
    font-weight: normal;
    padding-right: 20px;
    padding-left: 20px;
  }
  input[type='radio']:checked + label{
    background-color: #11b9ee !important;
    color:#fff;
    border-radius: 10px
  }
  input[type='radio']{
    display:none;
  }
}

#profile-uploader{
  display:none;
}

#img-input{
  display:none;
  width:200px;
  height:200px;
  object-fit: cover;
  object-position: middle middle;
  border-radius:100%;
  margin: 20px;
  &.edit-page{
    display:inline-block;

    &.hidden {
      display: none;
    }
  }
}
.signup{
  text-align:center;
}
.signup-page{
  width:100vw;
  display:table-cell;
  vertical-align: middle;
  height:100vh;
  padding-right:15px;
  padding-left:15px;
  i {
    font-size:50px;
  }
  input{
    border-radius:5px;
    border:1px solid #ddd;
    margin:10px 5px 10px 5px;
    min-width:100%;
  }
  #user_email{
    width:calc(100% - 80px) !important;
  }
  .button{
    margin-top:10px;
  }
  &>div{
    display:inline-block;
    width: 100%;
    border-radius:10px;
    border:none;

  }
  img{
    display: block;
  }
  .sign-up-button{
    display:block;
    margin: 0 auto;
    width:200px;
    padding:0;

  }
  .button-create{
    background-color: $pwdlight !important;
    margin-top:-5px;
  }
}
@media(min-width:550px){
  .signup-page{
    &>div{
      display:inline-block;
      width: 600px;
      border-radius:10px;
      border:1px solid #ddd;
      padding:50px;
    }
    input {
      min-width:0;
    }
  }
}
.signup-warning{
  border:1px solid #ED1C24 !important;
}
.warning-text{
  color: #ED1C24
}

.subscription-form-wrapper {
  display: inline-table;
  width: 100%;
  height: 50%;
  background-color: $white;
  vertical-align: top;
}



#card-form {
  margin-bottom: 30px;

  input {
    margin-bottom: 10px;
  }
}


#subscription-form {
  margin-bottom: 30px;
}
.tiers_card{
  padding-top:50px;
  padding-bottom:50px;
  border-radius: 10px;
  margin-bottom:50px;
  border:2px solid #fff;
}
.tiers_card:hover, .tiers_card.is-active{
  cursor:pointer;
  border:2px solid rgba($pwdlight, .8);
  position:relative;
  &:after{
    background:url('https://s3.amazonaws.com/mercury-app-assets/mercury-feature.jpg') no-repeat;
    background-position:center;
    background-size:cover;
    opacity:.3;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    content:" ";
    z-index:-1;
  }
}
.tiers_card.is-active:first-child:after, .tiers_card:hover:first-child:after{
  background:url('https://s3.amazonaws.com/mercury-app-assets/mercury-feature.jpg') no-repeat;
  background-position:left;
  background-size:cover;
}
.tiers_card.is-active:last-child:after, .tiers_card:hover:last-child:after{
  background:url('https://s3.amazonaws.com/mercury-app-assets/mercury-feature.jpg') no-repeat;
  background-position:right;
  background-size:cover;
}
.tier-select{
  display:none;
}
.tier_accordian{
  display:none;
}

.project-form-container {
  height: 100vh;
  width: calc(100% - 60px);
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  display: inline-table;
  vertical-align: top;

  span {
    display: table-cell;
    vertical-align: middle;
  }

  p {
    padding-bottom: 12px;
  }
}

.project-form-info {
  height: 100vh;
  width: 50%;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  background-color: rgba($brand-color, 0.3);
  display: none;
  color: $pwddark;

  span {
    display: table-cell;
    vertical-align: middle;
  }

  p {
    font-size: 1.6rem;
    padding-bottom: 12px;
  }
}
// message form -----------
#form-wrapper{
  background:#eee;
  position:fixed;
  bottom: 0px;
  right:2%;
  width:100%;
  border-top:1px solid #ddd;
  border-radius: 0px 0px 3px 3px;
  &>form>div{
    width: calc(100% - 110px);
    display:inline-block;
  }
  textarea{
    background-color:#fff;
    height:40px;
    min-height:40px;
    margin:10px;
    width:calc(100% - 20px);
    border:1px solid #ddd;
  }
  .button {
    width: 90px;
    height:40px;
    margin: 10px;
    position:absolute;
    min-width:0;
    right:5px;
    font-size:25px;
  }
}
//MEDIA QUERIES----------------------------------------------------

@media(min-width: 550px) {
  .subscription-form-wrapper {
    height: 100%;
    width: 100%;
  }
  .tier_accordian{
    display:block;
  }
  .subscription-info {
    height: 100%;
    padding: 5px;
  }

  .tier-select label {
    display: inline;
  }

  .project-form-container {
    width: 100%;

  }

  .project-form-info {
    display: inline-table;
  }

}

@media(min-width: 750px) {
  .subscription-form-wrapper {
    height: 100%;
    width: 100%;
  }
  #form-wrapper{
    width:48%;
    bottom: 21px;
  }

  .tier-select label {
    display: inline;
  }
}

//file upload
#av-message-form:hover {
  .file-wrapper {
    opacity: 0.8;
  }
}

.file-wrapper {
  opacity: 0.5;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  right: 120px;

  label {
    position: absolute;
    border: none;
    color: #666;
    padding: 3px 5px;
    border-radius: 5px;
    position: relative;
    margin-top: -38px;
    z-index: 1;

    &:hover {
      cursor: pointer;
      color: $pwdlight;
    }
  }

  input {
    display: none;
  }
}

.attachments-preview {
  padding-left: 14px;
}