// input styling
input[type='text'], input[type='password'] {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size:125%;
    &:focus {
    background-color:#DBEDFC;
    border: 1px solid #33C3F0
  }
}

//login form
#msg-bx.mb-form {
 .mb-body{
  height: 500px;
  text-align: center;
  padding-top: 40px;
 }
 input[type='text'], input[type='password'] {
    &:focus {
    background-color:#DBEDFC;
  }
 }
}

//main sign in form
#sign-in-form {
 input[type='text'], input[type='password'] {
  width:30%;
 }
}
#new_user{
  input[type='text'], input[type='password'] {
  width:200px;
  font-size:125%;
 }
}

//new user form
#password{margin-top:10px;}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #fff !important;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.tier-select{
      margin-top:20px;
      margin-bottom:20px;

  label {
    display: block;
    margin:10px;
    cursor: pointer;
    font-weight: normal;
    padding-right: 20px;
    padding-left: 20px;
  }
  input[type='radio']:checked + label{
    background-color: #11b9ee !important;
    color:#fff;
    border-radius: 10px
  }
  input[type='radio']{
    display:none;
  }
}

#profile-uploader{
  display:none;
}

#img-input{
  display:none;
  width:200px;
  height:200px;
  object-fit: cover;
  object-position: middle middle;
  border-radius:100%;
  margin: 20px;
}
.signup{
  text-align:center;
}
.signup-page{
  width:100vw;
  display:table-cell;
  vertical-align: middle;
  height:100vh;
  padding-right:100px;
  padding-left:100px;
  i {
    font-size:50px;
  }
}
.signup-warning{
  border:1px solid #ED1C24 !important;
}

.subscription-form-wrapper {
  display: inline-table;
  width: 100%;
  height: 50%;
  background-color: $white;
  vertical-align: top;
}

.subscription-info {
  position: relative;
  display: inline-block;
  background-color: #56688f;
  width: calc(100% - 10px);
  height: 50%;
  padding: 5px;
  color: $white;
  text-align: center;
  -webkit-transition: 1s background; /* Safari */
  transition: 1s background;

  h2 {
    display: none;
  }

  .dollars {
    margin-top: 20px;

    i {
      margin-right: 4px;
      margin-left: 4px;
      -webkit-transition: 1s; /* Safari */
      transition: 1s;

      &.is-transitioned {
        color: #a2d4f6;
      }
    }
  }

  .subscription-text {
    position: absolute;
    width: calc(100% - 10px);
    margin-top: 20px;
    opacity: 1;
    -webkit-transition: 1s; /* Safari */
    transition: 1s;

    p {
      margin-top: 10px;
    }

    &.is-hidden {
      opacity: 0;
    }
  }
}




#card-form {
  margin-bottom: 30px;

  input {
    margin-bottom: 10px;
  }
}

#subscription-form {
  margin-bottom: 30px;
}


//MEDIA QUERIES----------------------------------------------------

@media(min-width: 550px) {
  .subscription-form-wrapper {
    height: 100%;
    width: 60%;
  }

  .subscription-info {
    height: 100%;
    padding: 5px;
    width: calc(40% - 10px);

    .subscription-text {
      width: calc(100% - 10px);
    }

    .dollars {
      margin-top: 80px;
    }

    .subscription-text {
      margin-top: 80px;
    }
  }

  .tier-select label {
    display: inline;
  }
}

@media(min-width: 800px) {
  .subscription-form-wrapper {
    height: 100%;
    width: 50%;
  }

  .subscription-info {
    height: 100%;
    padding: 30px;
    width: 50%;

    h2 {
      display: inline;
    }

    i {
      margin-right: 10px;
      margin-left: 10px;
    }

    .subscription-text {
      width: calc(100% - 60px);
    }
  }

  .tier-select label {
    display: inline;
  }
}