 html,
body {
	height:100%;
	box-sizing: border-box;
}
@media (min-width: 750px) {
html,
body,
div {
	height:100%;
	box-sizing: border-box;
	overflow:hidden;
}
div {
	height: auto;
}
}
body {
// background: rgba($black, .8);
// padding: 40px 30px;
// -webkit-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.5);
// box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.5);
}
.logo {
	display: inline-block;
	width: 19%;
	letter-spacing: normal;
	border-right: 1px solid rgba(white, .3);
	h2 {
		margin-bottom:0;
	}
}
.inbox-sidebar {
	width: 100vw;
	height: 100vh;
		position:fixed;
		background:rgba($grey, 1);
	height: 100%;
	border-right: 1px solid rgba($darkgrey, 1);
	color: $black;
	header  {
		padding: 10px;
		border-bottom: 1px solid rgba($darkgrey, 1);
		i{
			padding-left: 10px;
		}
		h4 {
			display: inline-block;
			line-height: 0;
		}
	}

	nav {
		list-style: none;

		li {
			padding: 20px;
			font-size: 20px;
			color: $white;
			font-weight: 300;
			letter-spacing: 1px;
			border-bottom: 1px solid rgba($black, .25);
			// &:hover {
			// 	background: rgba($white, .25);
			// }
			i {
				font-size: 14px;
				&:hover {
					cursor: pointer;
				}
			}
			a {
				color:$black;
				text-decoration: none;
			}
		}
	}
}
.profile-data{
	padding: 10px;
}
@media (min-width: 750px) {
	.profile-data{
		padding:0;
	}
.inbox-sidebar {
	position:relative;
	display:block !important;
	width: 20%;
	float: left;
}
}
// Site List Accordian
.site-list {
padding : 0;
}
//////Accordian
.open-accordian {
	display: block;
	cursor: pointer;
	color: $darkgrey;
	margin-top:5px;
}
.accordian-content {
	display:none;
}
ul.edit-site-list {
	padding-left: 10px;
	li {
		font-size: 16px;
		list-style: none;
		border-bottom: none;
		padding:5px;
		color: $white;
		&:hover {
			background: transparent;
		}
		a {
			color: $black;
			&:hover {
				opacity: .8;
			}
		}
	}
}
.requests  {
	float: right;
	color: $white;
	font-size: 10px;
	text-decoration: underline;
	&:hover {
		cursor: pointer;
	}
}
.request-card{
	border-top: 1px solid #ddd;
	padding:24px;
}
.message-bar {
		position:fixed;
	display:none;
	background: #f5f5f5;
	width: 100%;
	height: 100vh;
	overflow:visible;
	border-right:1px solid #ababab;
	a {
		font-size: 14px;
		text-decoration: none;
	&:hover {
			cursor: pointer;
		}
	}
}
@media (min-width: 750px) {
.message-bar {
		position:relative;
	display:block !important;
	width: 30%;
	float: left;
}
}
#new-message {
	display: none;
}
.message-center {
		position:fixed;
		display:none;
	width:100%;
		height: 100vh;
	header {
		padding: 10px;
	}
}
@media (min-width: 750px) {
.message-center {
		position:relative;
	display:block !important;
	float: left;
	width: 50%;

}
}
.else-message {
	padding: 10px;
	border-bottom: 1px solid $grey;
}
.message-item {
	border-bottom: 1px solid $grey;
	color: $black;
	&:hover {
		background: rgba($darkgrey, .1);
	}
}
.msg-item-current{
	background: rgba($darkgrey, .2) !important;
	position:relative;
	overflow:visible;
	&:hover {
			background: rgba($darkgrey, 1);
		}
	}
	//tooltips
	.mobile-active{
		position:relative;
	}
	.mobile-active:after {
		position:absolute;
		bottom:0;
		content: "";
		width: 0;
		height: 0;
				border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom:5px solid #fff;
		margin-right:50%;
		left: 4px;
		margin-bottom:-7px;
	}
	.fa-globe:after{
		border-bottom-color:#dddddd;
		left:2px
	}
	.fa-comments:after{
		border-bottom-color:#f5f5f5;
	}
	.fa-user:after{
		left:2px;
	}
	@media (min-width: 750px) {
		i:after {
			display:none;
		}
	.msg-item-current:after {
		position:absolute;
		right:0;
		margin-top: 32px;
		content: "";
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-right:10px solid #fff;
		margin-right:-1px;
	}
		.msg-item-current:before {
		position:absolute;
		right:0;
		margin-top: 31px;
		content: "";
		width: 0;
		height: 0;
		border-top: 11px solid transparent;
		border-bottom: 11px solid transparent;
		border-right:11px solid #ababab;
		margin-right:-1px;
	}
	#mobile-current-account {
		display:none !important;
	}
}
	.message-content {
		padding: 60px 30px;
		background: #f5f5f5;
		height: 100%;
	}
	.message-data {
		padding-bottom: 16px;
		margin-bottom: 16px;
		border-bottom: 1px solid #ddd;
	}
	.profile-img {
		width: 50px;
		vertical-align: top;
		margin-right: 5px;
	}
.unread-convo-app {
	 animation: unread 5s infinite;
  -webkit-animation: unread 5s infinite;
  -moz-animation: unread 5s infinite;
  -o-animation: unread 5s infinite;
}
///The Media Object Styles http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/

.media {
	margin:0 10px 8px;
	padding-top: 20px;
	h4{
		display: inline-block;
		margin-bottom: 0px;
	}
}
.media, .bd {
	display: inline-block;
	overflow:hidden;
	_overflow:visible;
	zoom:1;
}
.media .img {
	float:left;
	margin-right: 10px;
}
.media .img img {
	display:block;
}
.media .imgExt {
	float:right;
	margin-left: 10px;
}
.media .profile-pic{
	margin-top:0px;
}
//End Media Object

.app-view-p-img{
	display:inline !important;
	height:40px !important;
	width:40px !important;
	margin-right: 16px;
}
#requests-icon {
	cursor: pointer;
	&.active small{
		color: #fff !important;

	}
}
#requests{
	position: absolute;
	display:none;
	left:320px;
	background: #fff;
	color: #000;
	border: 1px solid #ddd;
	z-index: 100;
}


.app-view {
	width:100vw !important;
	height: calc(100vh - 200px) !important;
	padding: 40px 20px 20px !important;
	box-sizing:border-box;
}

@media (min-width: 750px) {
.app-view {
height: 70% !important;
width:auto !important;
}
}
.app-view-typeahead {
	display: block;
}

.conversation-wrapper {
	overflow: visible;
}

//typeahead-dropdown
.message-center {
	.typeahead-form{
		display:inline-block;
		input{
			font-size: 100%;
			height:18px;
			padding:0;
		}
		input[type="submit"] {
			padding:0 20px;
		}
	}
}
.tt-menu{
	background:#fff;
	border: 1px solid #ddd;
	z-index:999;
	overflow:visible;
	width: 100%;
	border-radius: 0 0 5px 5px;
	box-shadow: 0px 1px 1px $grey;
}
.tt-suggestion {
	padding:10px;
	border-bottom: 1px solid #ddd;
	&:hover, &:focus{
		background:#f5f5f5;
		cursor: pointer;
	}
}
.tt-cursor {
	background: #f5f5f5!important;
}
.tt-menu, .tt-suggestion, .tt-dataset {
	overflow: visible;
}
.add-btn {
	float:right;
}
.manage-user-opts{display:none;}
.site-user-list{overflow:scroll}
