html,
body {
	height:100%;
	box-sizing: border-box;
}
@media (min-width: 550px) {
html,
body,
div {
	height:100%;
	box-sizing: border-box;}
div {
	height: auto;
}
}
body {
// background: rgba($black, .8);
// padding: 40px 30px;
// -webkit-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.5);
// box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.5);
}

.home-wrapper {
  overflow: hidden;
  height: calc(100% - 30px);
}
.logo {
	display: inline-block;
	width: 19%;
	letter-spacing: normal;
	border-right: 1px solid rgba(white, .3);
	h2 {
		margin-bottom:0;
	}
}
.inbox-sidebar {
	width: 100vw;
	height: 100vh;
	position:fixed;
	background:rgba($grey, 1);
	height: 100%;
	border-right: 1px solid rgba($darkgrey, 1);
	color: $black;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 0;

	&.is-transitioned {
		z-index: 2;
	}
	header  {
		padding: 10px;
		border-bottom: 1px solid rgba($darkgrey, 1);
		h4 {
			display: inline-block;
			line-height: 0;
		}
	}

	nav {
		list-style: none;

		li {
			padding: 10px;
			font-size: 16px;
			font-weight: 300;
			letter-spacing: 1px;
			border-bottom: 1px solid rgba($black, .25);
			// &:hover {
			// 	background: rgba($white, .25);
			// }
			i {
				font-size: 15px;
				&:hover {
					cursor: pointer;
				}
			}
			a {
				color:$black;
				text-decoration: none;
			}
		}
	}
}
.non-admin-user {
	background: rgba($white, .5);
	text-indent: 25px;
}
i.admin-profile {
	padding-right: 10px;
	color: rgba($brand-color, .8);
}
.profile-data{
	padding: 10px;
}
.add-users-or {
	margin:0;
	padding-top:20px;
	padding-bottom:20px;
}
#welcome{
	max-height:70%;
	overflow-y:scroll;
	.welcome-text{
		width:50%;
		display:inline-block;
		text-align:left;
		padding-left:15px;
		vertical-align: top;
	}
	.welcome-image{
		border:1px solid $pwdlight;
		width:30%;
		height:auto;
		border-radius:5px;
	}
	.welcome_icon{
		font-size: 40px;
		margin-top:20px;
	}
}
@media (min-width: 750px) {
	.profile-data{
		padding:0;
	}
.inbox-sidebar {
	position:relative;
	display:block !important;
	width: 20%;
	float: left;
}
}

// project List Accordian
@keyframes unread-project {
  0%{}
  45%{background:lighten($pwdlight, 40%)}
  100%{}
}
@-webkit-keyframes unread-project {
  0%{}
  45%{background:lighten($pwdlight, 40%)}
  100%{}
}
  @-moz-keyframes unread-project {
  0%{}
  45%{background:lighten($pwdlight, 40%)}
  100%{}
}
  @-o-keyframes unread-project {
  0%{}
  45%{background:lighten($pwdlight, 40%)}
  100%{}
}
.is-unread-project{
	  animation: unread-project 2s infinite;
  -webkit-animation: unread-project 2s infinite;
  -moz-animation: unread-project 2s infinite;
  -o-animation: unread-project 2s infinite;
}
.project-list {
padding : 0;
}
//////Accordian
.open-accordian {
	display: block;
	cursor: pointer;
	color: $darkgrey;
	margin-top:5px;
}
.accordian-content {
	display:block;
}
ul.edit-project-list {
	padding-left: 28px;
	margin: 6px 0px 0px 0px;
	color:$black !important;
	li {
		font-size: 12px;
		list-style: none;
		border-bottom: none;
		padding:3px 0px 3px 0px;
		&:hover {
			background: transparent;
		}
		a {
			color: $black;
			&:hover {
				color: $pwdlight;
			}
		}
	}
}
.requests  {
	float: right;
	color: $white;
	font-size: 10px;
	text-decoration: underline;
	&:hover {
		cursor: pointer;
	}
}
.request-card{
	border-top: 1px solid #ddd;
	padding:24px;
}
.message-bar {
	position:fixed;
	display:none;
	background: #f5f5f5;
	width: 100%;
	height: calc(100vh - 30px);
	overflow-y: scroll;
  overflow-x: hidden;
  z-index: 0;

  &.is-transitioned {
  	z-index: 2;
  }
	.message-bar-border{
		border-right:1px solid #ababab;
		height: calc(100vh - 30px);
	}
	a {
		font-size: 14px;
		text-decoration: none;
	&:hover {
			cursor: pointer;
		}
	}

	#transfer-header {
		background-color: $pwddark;
		color: $white;
		z-index: 3;
		position: absolute;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
		display: none;

		i {
			margin-right: 10px;

			&:hover {
				color: red;
			}
		}

		&.is-transitioned {
			display: block;
		}
	}
}
@media (min-width: 750px) {
	.message-bar {
			position:relative;
		display:block !important;
		width: 30%;
		float: left;
	}
}
#new-message {
	display: none;
}
.close-new-convo{
	position:absolute;
	color:#aaa;
	right: 20px;
	top: 32px;
	&:hover{
		color:#bbb;
	}
}
.message-center {
	position:fixed;
	display:none;
	width:100%;
	height: 100%;

	header {
		padding: 10px;
	}

	.other-users {
		p {
			margin-top: 7px;
		}

		&:hover p {
			display: block;
		}
	}

	.inactive-icon {
		color: lighten(red, 20%);

		&:hover p {
			display: block;
		}
	}
}

.hover-item {
	z-index: 999;
	color: $black;
	padding: 5px;
	margin-top: 10px;
	position: absolute;
	background: $white;
	display: none;
	border: 1px solid $grey;
}
@media (min-width: 750px) {
.message-center {
		position:relative;
	display:block !important;
	float: left;
	width: 50%;

}
}
.else-message {
	padding: 10px;
	border-bottom: 1px solid $grey;
}
.message-item {
	border-bottom: 1px solid $grey;
	color: $black;

	p{
		margin-bottom: 0;
	}

	.fa-edit {
		margin-left: 10px;
		margin-right: 16px;
		font-size: 20px;
		vertical-align: top;
	}

	&:hover {
		background: rgba($darkgrey, .1);

		.fa-edit {
			color: $pwdlight;
		}
	}
}
.msg-item-current{
	background: #e5e5e5;
	position:relative;
	overflow:visible;
	&:hover {
			background: rgba($darkgrey, .1);
		}
	}
	//tooltips
	.mobile-active{
		position:relative;
	}
	.mobile-active:after {
		position:absolute;
		bottom:-2px;
		content: "";
		width: 0;
		height: 0;
				border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom:10px solid #fff;
		margin-right:50%;
		left: 4px;
		margin-bottom:-15px;
	}
	.fa-globe:after{
		border-bottom-color:#dddddd;
		left:2px
	}
	.fa-comments:after{
		border-bottom-color:#f5f5f5;
	}
	.fa-user:after{
		left:2px;
	}
	@media (min-width: 750px) {
		i:after {
			display:none;
		}
	.msg-item-current:after {
		position:absolute;
		right:0;
		top: 30px;
		content: "";
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-right:10px solid #fff;
		margin-right:-1px;
	}
		.msg-item-current:before {
		position:absolute;
		right:0;
		top: 29px;
		content: "";
		width: 0;
		height: 0;
		border-top: 11px solid transparent;
		border-bottom: 11px solid transparent;
		border-right:11px solid #ababab;
		margin-right:-1px;
	}
	#mobile-current-account {
		display:none !important;
	}
}
	.message-content {
		padding: 60px 30px;
		background: #f5f5f5;
		height: 100%;
	}
	.message-data {
		padding-bottom: 16px;
		margin-bottom: 16px;
		border-bottom: 1px solid #ddd;
	}
	.profile-img {
		width: 50px;
		vertical-align: top;
		margin-right: 5px;
	}

///The Media Object Styles http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/

.media {
	margin:0 10px 8px;
	padding-top: 20px;
	h4{
		display: inline-block;
		margin-bottom: 0px;
	}
}
.media, .bd {
	display: inline-block;
	overflow:hidden;
	_overflow:visible;
	zoom:1;
	width:100%;
}
.media .img {
	float:left;
	margin-right: 10px;
}
.media .img img {
	display:block;
}
.media .imgExt {
	float:right;
	margin-left: 10px;
}
.media .profile-pic{
	margin-top:0px;
}
//End Media Object

.app-view-p-img{
	display:inline !important;
	height:40px !important;
	width:40px !important;
	margin-right: 16px;
}
#requests-icon {
	cursor: pointer;
	&.active small{
		color: #fff !important;

	}
}


	.task-conversation-switch {
		background-color: #f5f5f5;
		border-top:1px solid #ddd;
		padding: 5px 0 5px 0;
		a{
			color: $pwdlight;
			text-decoration: none;
		}
	}
	.no-pending-tasks{
		text-align:center;
		background-color: transparent !important;
		display: block !important;
		min-width:100% !important;
		max-width:100% !important;
		margin:0 !important;
	}
	.conversation-preview{
		width:70%;
		overflow:hidden;
	}
.app-view {
	width:100vw !important;
	height: calc(100vh - 195px) !important;
	padding: 40px 20px 80px !important;
	box-sizing:border-box;
	font-size: 15px;
		.profile-pic {
			display:none !important;
		}
		.them-msg-wrapper {

			.them-meta-data{
				margin-top: 10px;
				padding-left:0;
			}
			p{
				margin-left:0;
			}
		}
		.icon-bar {

		}
		.self-msg-wrapper{
			.icon-bar{
				margin-right:10px;
			}
			.self-meta-data{
				margin-top: 10px;
				padding-right:0;
			}
			p{
				margin-left:0;
			}
		}
}
.self-meta-data{
	margin-right:10px;
}
@media (min-width: 750px) {
	.app-view {
		height: calc(100vh - 160px) !important;
		width:auto !important;
		padding: 40px 20px 20px !important;
		.them-msg-wrapper {
			.them-meta-data{
				padding-left:50px;
			}
			p{
				margin-left:50px;
			}
		}
		.self-meta-data{
			margin-right:0px;
		}
		.self-msg-wrapper{
			.self-meta-data{
				padding-right:50px;
			}
			p{
				margin-left:50px;
			}
		}
	}
	.self-meta-data{
	margin-right:0px;
}

}
@media (min-width: 750px) {
.conversation-wrapper {
	.profile-pic {
	display:block !important;
}
.has-no-pic {
	display:table !important;
}
}
	.app-view {
		font-size:14px;
		.profile-pic {
			display:block !important;
		}
	}
}


.conversation-wrapper {
	overflow: visible;
}
//add button hover helpers
.add-button-hover {
		overflow-x:visible;
}
.add-button-hover-text{
	height:0;
	position:absolute;
	background:#fff;
	overflow-y:hidden;
	overflow-x:visible;
	white-space:nowrap;
	z-index: 1000;
	text-align: center;

	color:#000;
	margin-top:15px;
	transform: translateX(calc(-100% + 18px));
	-ms-transform: translateY(calc(-100% + 18px));
	-webkit-transform: translateX(calc(-100% + 18px));
	-moz-transform: translateX(calc(-100% + 18px));
	-o-transform: translateX(calc(-100% + 18px));
}
.add-button-hover:hover .add-button-hover-text {
	height:auto;
	border:1px solid #ddd;
	padding:10px;
	overflow:visible;
	&:before{
		position:absolute;
		top: -6px;
		content: "";
		width: 0;
		height: 0;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom:6px solid #ddd;
		margin-right:-1px;
	}
	&:after {
		position:absolute;
		top: -5px;
		right: 11px;
		content: "";
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom:5px solid #fff;
		margin-right:-1px;
	}
		&.is-first:before{
		left:auto;
		right:10px;
	}
		&.is-first:after{
		left:auto;
		right:11px;
	}
	&.is-last:before{
		left:auto;
		right:10px;
	}
		&.is-last:after{
				left:auto;
		right:11px;
	}

}
//typeahead-dropdown

.app-view-typeahead {
	display: block;
}
.typeahead-image{
	width:40px;
	height:40px;
	border-radius:100%;
	margin:10px;
	margin-top:0px !important;
}
.typeahead-image-container{
	display:inline-block;
	height:100%;
	float:left;
}
#project-typeahead .tt-suggestion{
	min-height:40px;
	.text-centered{
		height:100%;
	}
}
.message-center {
	.typeahead-form{
		display:inline-block;
		input{
			font-size: 100%;
			height:18px;
			padding:0;
			width: 100px;
		}
		input[type="submit"] {
			padding:0 20px;
		}
	}
}
.tt-menu{
	background:#fff;
	border: 1px solid #ddd;
	z-index:999;
	overflow:visible;
	width: 100%;
	border-radius: 0 0 5px 5px;
	box-shadow: 0px 1px 1px $grey;
}
.tt-suggestion {
	padding:10px;
	width: calc(100% - 20px);
	border-bottom: 1px solid #ddd;
	text-align:center;
	&:hover, &:focus{
		background:#f5f5f5;
		cursor: pointer;
	}
}

.tt-cursor {
	background: #f5f5f5!important;
}
.tt-menu, .tt-dataset {
	overflow-x: visible;
	width: 240px;
}
.add-btn {
	float:right;
		font-size:80% !important;
	text-decoration:none !important;
}
.manage-user-opts{display:none;}
.project-user-list{overflow:scroll}
.project-target{display:inline;}

.send-request {
	background: $grey;
}

#invites-title {
	margin-top: 4px;
	padding: 5px;
	border-bottom: 1px solid $darkgrey;
	font-size: 16px;
}

.project-approval {
	background-color: rgba($white, 0.5px);
	border-bottom: 1px solid $darkgrey;
	padding-left: 25px;

	p {
		font-size: 16px;
		padding-left: 10px;
		padding-top: 10px;
	}

	a {
		padding-left: 10px;
		text-decoration: none;
	}
}

#transfer-cover {
	position: absolute;
	width: 100%;
	height: calc(100% - 30px);
	background: rgba($pwddark, 0.3);
	z-index: -5;
	opacity: 0;
	-webkit-transition: opacity 0.4s; /* Safari */
  transition: opacity 0.4s;

	&.is-transitioned {
		z-index: 1;
		opacity: 1;
	}
}

#ajax-loader-message {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba($white, 0.7);
	text-align: center;
	display: none;
	z-index: 4440001;

	&.full {
		background-color: rgba($white, 1);
	}
}

.convo-links {
	color: $darkgrey;
}
.header-username{
	font-size:80% !important;
	color:$grey;
}
.empty-message{
	padding:10px;
}

