html,
body {
	height:100%;
	box-sizing: border-box;
}
@media (min-width: 550px) {
html,
body,
div {
	height:100%;
	box-sizing: border-box;}
div {
	height: auto;
}
}
body {
// background: rgba($black, .8);
// padding: 40px 30px;
// -webkit-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.5);
// box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.5);
}

.home-wrapper {
  overflow: hidden;
  height: calc(100% - 30px);
}
.logo {
	display: inline-block;
	width: 19%;
	letter-spacing: normal;
	border-right: 1px solid rgba(white, .3);
	h2 {
		margin-bottom:0;
	}
}
.inbox-sidebar {
	width: 100vw;
	height: 100vh;
		position:fixed;
		background:rgba($grey, 1);
	height: 100%;
	border-right: 1px solid rgba($darkgrey, 1);
	color: $black;
	header  {
		padding: 10px;
		border-bottom: 1px solid rgba($darkgrey, 1);
		i{
			padding-left: 10px;
		}
		h4 {
			display: inline-block;
			line-height: 0;
		}
	}

	nav {
		list-style: none;

		li {
			padding: 10px;
			font-size: 16px;
			font-weight: 300;
			letter-spacing: 1px;
			border-bottom: 1px solid rgba($black, .25);
			// &:hover {
			// 	background: rgba($white, .25);
			// }
			i {
				font-size: 15px;
				&:hover {
					cursor: pointer;
				}
			}
			a {
				color:$black;
				text-decoration: none;
			}
		}
	}
}
.non-admin-user {
	background: rgba($white, .5);
	text-indent: 25px;
}
i.admin-profile {
	padding-right: 10px;
	color: rgba($brand-color, .8);
}
.profile-data{
	padding: 10px;
}
.add-users-or {
	margin:0;
	padding-top:20px;
	padding-bottom:20px;
}
#welcome{
	.welcome_icon{
		font-size: 40px;
		margin-top:100px;
	}
}
@media (min-width: 750px) {
	.profile-data{
		padding:0;
	}
.inbox-sidebar {
	position:relative;
	display:block !important;
	width: 20%;
	float: left;
}
}
// Site List Accordian
@keyframes unread-site {
  0%{}
  45%{background:lighten($pwdlight, 40%)}
  100%{}
}
@-webkit-keyframes unread-site {
  0%{}
  45%{background:lighten($pwdlight, 40%)}
  100%{}
}
  @-moz-keyframes unread-site {
  0%{}
  45%{background:lighten($pwdlight, 40%)}
  100%{}
}
  @-o-keyframes unread-site {
  0%{}
  45%{background:lighten($pwdlight, 40%)}
  100%{}
}
.is-unread-site{
	  animation: unread-site 2s infinite;
  -webkit-animation: unread-site 2s infinite;
  -moz-animation: unread-site 2s infinite;
  -o-animation: unread-site 2s infinite;
}
.site-list {
padding : 0;
}
//////Accordian
.open-accordian {
	display: block;
	cursor: pointer;
	color: $darkgrey;
	margin-top:5px;
}
.accordian-content {
	display:none;
}
ul.edit-site-list {
	padding-left: 10px;
	color:$black !important;
	li {
		font-size: 16px;
		list-style: none;
		border-bottom: none;
		padding:5px;
		&:hover {
			background: transparent;
		}
		a {
			color: $black;
			&:hover {
				opacity: .8;
			}
		}
	}
}
.requests  {
	float: right;
	color: $white;
	font-size: 10px;
	text-decoration: underline;
	&:hover {
		cursor: pointer;
	}
}
.request-card{
	border-top: 1px solid #ddd;
	padding:24px;
}
.message-bar {
		position:fixed;
	display:none;
	background: #f5f5f5;
	width: 100%;
	height: 100vh;
	overflow:visible;
	border-right:1px solid #ababab;
	a {
		font-size: 14px;
		text-decoration: none;
	&:hover {
			cursor: pointer;
		}
	}
}
@media (min-width: 750px) {
	.message-bar {
			position:relative;
		display:block !important;
		width: 30%;
		float: left;
	}
}
#new-message {
	display: none;
}
.close-new-convo{
	float:right;
	color:#aaa;
	margin-right: 20px;
	margin-top: 32px;
	&:hover{
		color:#bbb;
	}
}
.message-center {
		position:fixed;
		display:none;
	width:100%;
		height: 100vh;
	header {
		padding: 10px;
	}
}
@media (min-width: 750px) {
.message-center {
		position:relative;
	display:block !important;
	float: left;
	width: 50%;

}
}
.else-message {
	padding: 10px;
	border-bottom: 1px solid $grey;
}
.message-item {
	border-bottom: 1px solid $grey;
	color: $black;
	&:hover {
		background: rgba($darkgrey, .1);
	}
	p{
		margin-bottom: 0;
	}
}
.msg-item-current{
	background: #e5e5e5;
	position:relative;
	overflow:visible;
	&:hover {
			background: rgba($darkgrey, .1);
		}
	}
	//tooltips
	.mobile-active{
		position:relative;
	}
	.mobile-active:after {
		position:absolute;
		bottom:0;
		content: "";
		width: 0;
		height: 0;
				border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom:5px solid #fff;
		margin-right:50%;
		left: 4px;
		margin-bottom:-8px;
	}
	.fa-globe:after{
		border-bottom-color:#dddddd;
		left:2px
	}
	.fa-comments:after{
		border-bottom-color:#f5f5f5;
	}
	.fa-user:after{
		left:2px;
	}
	@media (min-width: 750px) {
		i:after {
			display:none;
		}
	.msg-item-current:after {
		position:absolute;
		right:0;
		margin-top: 32px;
		content: "";
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-right:10px solid #fff;
		margin-right:-1px;
	}
		.msg-item-current:before {
		position:absolute;
		right:0;
		margin-top: 31px;
		content: "";
		width: 0;
		height: 0;
		border-top: 11px solid transparent;
		border-bottom: 11px solid transparent;
		border-right:11px solid #ababab;
		margin-right:-1px;
	}
	#mobile-current-account {
		display:none !important;
	}
}
	.message-content {
		padding: 60px 30px;
		background: #f5f5f5;
		height: 100%;
	}
	.message-data {
		padding-bottom: 16px;
		margin-bottom: 16px;
		border-bottom: 1px solid #ddd;
	}
	.profile-img {
		width: 50px;
		vertical-align: top;
		margin-right: 5px;
	}

///The Media Object Styles http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/

.media {
	margin:0 10px 8px;
	padding-top: 20px;
	h4{
		display: inline-block;
		margin-bottom: 0px;
	}
}
.media, .bd {
	display: inline-block;
	overflow:hidden;
	_overflow:visible;
	zoom:1;
}
.media .img {
	float:left;
	margin-right: 10px;
}
.media .img img {
	display:block;
}
.media .imgExt {
	float:right;
	margin-left: 10px;
}
.media .profile-pic{
	margin-top:0px;
}
//End Media Object

.app-view-p-img{
	display:inline !important;
	height:40px !important;
	width:40px !important;
	margin-right: 16px;
}
#requests-icon {
	cursor: pointer;
	&.active small{
		color: #fff !important;

	}
}
#requests{
	position: absolute;
	display:none;
	left:320px;
	background: #fff;
	color: #000;
	border: 1px solid #ddd;
	z-index: 100;
}
.message-item .profile-pic {
	display:none !important;
}

.app-view {
	width:100vw !important;
	height: calc(100vh - 300px) !important;
	padding: 40px 20px 20px !important;
	box-sizing:border-box;
	font-size: 15px;
		.profile-pic {
			display:none !important;
		}
		.them-msg-wrapper {

			.them-meta-data{
				margin-top: 10px;
				padding-left:0;
			}
			p{
				margin-left:0;
			}
		}
		.icon-bar {

		}
		.self-msg-wrapper{
			.icon-bar{
				margin-right:10px;
			}
			.self-meta-data{
				margin-top: 10px;
				padding-right:0;
			}
			p{
				margin-left:0;
			}
		}
}
.self-meta-data{
	margin-right:10px;
}
@media (min-width: 750px) {
	.app-view {
		height: calc(100vh - 240px) !important;
		width:auto !important;
		.them-msg-wrapper {
			.them-meta-data{
				padding-left:50px;
			}
			p{
				margin-left:50px;
			}
		}
		.self-meta-data{
			margin-right:0px;
		}
		.self-msg-wrapper{
			.self-meta-data{
				padding-right:50px;
			}
			p{
				margin-left:50px;
			}
		}
	}
	.self-meta-data{
	margin-right:0px;
}
}
@media (min-width: 950px) {
.conversation-wrapper { 
	.profile-pic {
	display:block !important;
}
.has-no-pic {
	display:table !important;
}
}
	.app-view {
		font-size:14px;
		.profile-pic {
			display:block !important;
		}
	}
}
.app-view-typeahead {
	display: block;
}

.conversation-wrapper {
	overflow: visible;
}

//typeahead-dropdown
.message-center {
	.typeahead-form{
		display:inline-block;
		input{
			font-size: 100%;
			height:18px;
			padding:0;
		}
		input[type="submit"] {
			padding:0 20px;
		}
	}
}
.tt-menu{
	background:#fff;
	border: 1px solid #ddd;
	z-index:999;
	overflow:visible;
	width: 100%;
	border-radius: 0 0 5px 5px;
	box-shadow: 0px 1px 1px $grey;
}
.tt-suggestion {
	padding:10px;
	border-bottom: 1px solid #ddd;
	&:hover, &:focus{
		background:#f5f5f5;
		cursor: pointer;
	}
}
.tt-cursor {
	background: #f5f5f5!important;
}
.tt-menu, .tt-suggestion, .tt-dataset {
	overflow: visible;
}
.add-btn {
	float:right;
}
.manage-user-opts{display:none;}
.site-user-list{overflow:scroll}
.site-target{display:inline;}

.send-request {
	background: $grey;
}

#invites-title {
	margin-top: 4px;
	padding: 5px;
	border-bottom: 1px solid $darkgrey;
	font-size: 16px;
}

.site-approval {
	background-color: rgba($white, 0.5px);
	border-bottom: 1px solid $darkgrey;
	padding-left: 25px;

	p {
		font-size: 16px;
		padding-left: 10px;
		padding-top: 10px;
	}

	a {
		padding-left: 10px;
		text-decoration: none;
	}
}

#ajax-loader-message {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(black, 0.3);
	text-align: center;
	display: none;
	z-index: 4440001;
}

.convo-links {
	color: $darkgrey;
}