.owner-data {
    padding-top: 100px;

  .table-wrapper {
    width: 95%;
    margin-left: 4%;
    display: inline-block;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-bottom: 50px;
    vertical-align: top;
  }
}
