//headers ------------------------------

header {

}
// sections
section  {
	padding-top: 40px;
	padding-bottom: 20px;
}
.intro {
	padding: 60px 0;
	i {
		margin-top: 60px;
	}
}
#why
 {
	padding-top: 80px;
	border-bottom: 1px solid $grey;
	i {
		margin: 20px 0;
		padding: 0 20px;
	}
}
#getting-started {
	padding: 60px 0;
	border-top: 1px solid $grey;
	border-bottom: 1px solid $grey;
	background: #fafafa;
	h1 {
		margin-bottom: 25px;
	}
	p {
		margin-top: 15px;
	}
}
#features {
	padding: 80px 0;
	background: #fafafa;
	border-bottom: 1px solid $grey;
	h1 
	{
		margin-bottom: 60px;
	}
	li {
		list-style: none;
		margin-bottom: 20px;
	}
}
// articles
article {
	p {
	max-width: 1040px;

	}
}
//Auxillary divs
.background-class {
	height: 100%;
	background: $black;
	color: $white;
}