//headers ------------------------------

header {
	
}

// sections

section  {
	padding-top: 4rem;
	padding-bottom: 2rem;
}

// articles

article {
	p {
	max-width: 1040px;
	
	}
}

//Auxillary divs

.background-class {
	height: 100%;
	background: $pwddark;
	color: $white;
	h1 {
		margin-top: 30%;
	}
}