//Splash Page Styles
.main {
  position: relative;
	font-size: 18px;
  background: $white;
  z-index: 5;
}

.intro {
  padding-top: 10px;
}

a {
  color: $pwdlight;
}
a:hover {
  color: #10a7d6; }

.navbar {
  padding-top: 20px;
  position: fixed;
  width: 100%;
  color: rgba($brand-color, 1);
  background-color: $white;
  -webkit-transition: 0.2s; /* Safari */
  transition: 0.2s;

  span {
    font-size: 3rem;
  }
  z-index: 999;
  ul {
  	display: inline-block;
    list-style: none;
  }

  li {
    display: inline;
    position: relative;
    margin-right: 2rem;
  }

  a {
    color: rgba($brand-color, .8);
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

    &:hover {
     color: rgba($white, 1);
    }
  }

  &.tab0 {
    color: rgba($pwdlight, 1);

    a {
      color: rgba($pwdlight, 0.8);
    }
  }

  &.tab1 {
    color: rgba($brand-color, 1);

    a {
      color: rgba($brand-color, 0.8);
    }
  }

  &.tab2 {
    color: rgba($full-green, 1);

    a {
      color: rgba($full-green, 0.8);
    }
  }

  &.is-transitioned {
    background-color: rgba($pwdlight, 0.8);
    color: rgba($white, 1);
    padding-top: 0px;

    a {
      color: rgba($white, 0.8);
    }
  }
}
.pill {
	background: rgba($white, .8);
	padding: 2px 5px;
	border-radius:2px;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
	a {
  color: $brand-color;
}
&:hover {
		background: rgba($white, .25);
		 color: $white;
}
}
.home-link a {
	color: $white;
}
.feature {
	margin-top: 50px;
	padding: 0;
	background: url('map-feature-2.png') no-repeat;
	height: 200px;
	background-size: cover;
	background-position: center center;
	display: table;
	width:100%;
	h1 {
		display: table-cell;
		vertical-align: middle;
	}
}
@media (min-width: 550px) {
	.feature {
		height: 500px;
		margin-top:0;
	}
}

///Page Styles
.feature-sign-up {
	padding-top: 4rem;
	background-color: rgba($pwdlight, .8);
	h1 {
		font-weight: bold;
		color: $white;
		letter-spacing: normal;
		small {
			margin-left: 2rem;
			color: $black;
			font-size: 50%;
		}
	}
}
.sign-up-plans {
	padding: 6rem 0;
	background: rgba($grey, .6);
	h4 {
		font-weight: 700;
	}
}
.card {
	padding: 1.5rem;
	border: 1px solid rgba(0,0,0,0.08);
	border-radius: 10px;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.08);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.08);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.08);
	background: $white;
}
.lead-in {
	margin-bottom: 30px;
}
@media (min-width: 1000px) {
	.lead-in {
		max-width: 60%;
	}
}
.card-data {
	margin-top: 2rem;
	margin-bottom : 15px;
	padding-bottom : 20px;
	border-bottom: 1px solid $grey;
	ul {
		margin-bottom: 4rem;
		color: rgba($black, .8);
	}
}
@media (min-width: 1000px) {
	.card-data {
		border-bottom: none;
		ul {
			padding-left: 10rem;
		}
	}
}

//alt-splash-styles ---------------

.landing-tabs {
  position: relative;
  height: 550px;
  z-index: -1;
}

.landing-tab {
  position: fixed;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  opacity: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: 1.2s; /* Safari */
  transition: 1.2s;

  .lt-img {
    position: absolute;
    width: 0px;
    height: 400px;
    object-fit: cover;
    object-position: center left;
    margin-left: 0px;
    margin-top: 100px;
    z-index: 0;
    -webkit-transition: 1.2s; /* Safari */
    transition: 1.2s;

    &#lt-img-0 {
      background-image: url('src="https://s3.amazonaws.com/mercury-app-assets/mercury-feature.jpg');
    }
  }

  .lt-block {
    position: absolute;
    height: 280px;
    width: 400px;
    margin-top: 0px;
    z-index: 1;
    -webkit-transition: 1.2s; /* Safari */
    transition: 1.2s;

    &.tab0 {
      background-color: rgba($pwdlight, 0.5);
    }

    &.tab1 {
      background-color: rgba($brand-color, 0.5);
    }

    &.tab2 {
      background-color: rgba($full-green, 0.5);
    }
  }

  .lt-subtitle {
    position: absolute;
    color: $white;
    margin-left: 40px;
    margin-top: 250px;
    z-index: 2;
    font-size: 3rem;
    width: 80%;
    font-weight: 400;
    font-family: 'Libre Baskerville', serif;
  }

  .lt-quip {
    position: absolute;
    margin-left: 20%;
    margin-top: 420px;
    color: $white;
    z-index: 2;

    span {
      display: inline-block;
      width: 20px;
      height: 2px;
      background-color: $white;
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  .lt-arrow {
    position: absolute;
    margin-top: 550px;
    margin-left: 49%;
    color: rgba($pwdlight, 0.5);
    z-index: 2;
    font-size: 4rem;

    &.tab0 {
      color: rgba($pwdlight, 0.5);
    }

    &.tab1 {
      color: rgba($brand-color, 0.5);
    }

    &.tab2 {
      color: rgba($full-green, 0.5);
    }
  }

  .lt-header {
    position: absolute;
    top: 80px;
    z-index: 100;

    h1 {
      text-decorationt-align: center;
      font-size: 6rem;
      margin-left: 0px;
    }

    &.tab0 {
      color: rgba($pwdlight, 0.6);
    }

    &.tab1 {
      color: rgba($brand-color, 0.6);
    }

    &.tab2 {
      color: rgba($full-green, 0.6);
    }
  }

  &.is-active {
    opacity: 1;

    .lt-img {
      width: 80%;
      margin-left: 20%;
    }

    .lt-block {
      margin-top: 180px;
      margin-left: 0px;
      width: 90%;
    }
  }
}

.arrow {
  position: absolute;
  top: 300px;
  height: 30px;
  width: 60px;
  z-index: 5;
  display: none;

  span {
    position: absolute;
    border-radius: 3px;
    height: 4px;
    margin-top: 10px;
    -webkit-transition: 0.4s; /* Safari */
    transition: 0.4s;
  }

  &.tab0 span {
    background-color: rgba($pwdlight, 1);
  }

  &.tab1 span {
    background-color: rgba($brand-color, 1);
  }

  &.tab2 span {
    background-color: rgba($full-green, 1);
  }
}

#right-arrow {
  left: calc(95vw - 60px);

  #right1 {
    width: 40px;
  }

  #right2 {
    width: 20px;
    height: 4px;
    margin-left: 20px;
  }

  #right3 {
    width: 20px;
    height: 4px;
    margin-left: 20px;
  }

  &:hover {
    #right1 {
      width: 60px;
      height: 2px;
      margin-top: 11px;
      margin-left: -20px;
    }
    #right2 {
      height: 2px;
      margin-top: 18px;
      margin-left: 45px;
      -ms-transform: rotate(-225deg); /* IE 9 */
      -webkit-transform: rotate(-225deg); /* Chrome, Safari, Opera */
      transform: rotate(-225deg);
    }

    #right3 {
      height: 2px;
      margin-top: 4px;
      margin-left: 45px;
      -ms-transform: rotate(225deg); /* IE 9 */
      -webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
      transform: rotate(225deg);
    }
  }
}

#left-arrow {
  left: 5vw;

  #left1 {
    width: 40px;
  }

  #left2 {
    width: 20px;
    height: 4px;
  }

  #left3 {
    width: 20px;
    height: 4px;
  }

  &:hover {
    #left1 {
      width: 60px;
      height: 2px;
      margin-top: 11px;
    }
    #left2 {
      height: 2px;
      margin-top: 18px;
      margin-left: -25px;
      -ms-transform: rotate(225deg); /* IE 9 */
      -webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
      transform: rotate(225deg);
    }

    #left3 {
      height: 2px;
      margin-top: 4px;
      margin-left: -25px;
      -ms-transform: rotate(-225deg); /* IE 9 */
      -webkit-transform: rotate(-225deg); /* Chrome, Safari, Opera */
      transform: rotate(-225deg);
    }
  }
}

.circles {
  position: absolute;
  top: 510px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  z-index: 5;

  .circle {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 5px;
    border-radius: 0px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgba($black, 0.5);
    vertical-align: middle;
    -webkit-transition: 0.1s; /* Safari */
    transition: 0.1s;

    &:hover {
      height: 10px;
      border-radius: 3px;
    }
  }

  .is-active {
    height: 10px;
    border-radius: 3px;

    &.tab0 {
      background-color: rgba($pwdlight, 1);
    }

    &.tab1 {
      background-color: rgba($brand-color, 1);
    }

    &.tab2 {
      background-color: rgba($full-green, 1);
    }
  }
}

@media(min-width: 700px) {
  .landing-tab {
    width: 700px;

    .lt-header {
      margin-left: -50px;

      h1 {
        font-size: 14rem;
      }

      &.tab0 {
        color: rgba($pwdlight, 0.15);
      }

      &.tab1 {
        color: rgba($brand-color, 0.15);
      }

      &.tab2 {
        color: rgba($full-green, 0.15);
      }
    }

    .lt-arrow {
      margin-left: 342px;
    }

    .lt-subtitle {
      font-size: 6rem;
      width: 600px;
    }

    .lt-quip {
      margin-left: 200px;
    }

    &.is-active {
      .lt-img {
        width: 500px;
        margin-left: 200px
      }

      .lt-block {
        margin-top: 180px;
        margin-left: 0px;
        width: 400px;
      }
    }
  }

  .arrow {
    display: block;
  }
}
