//Splash Page Styles
.main {
  position: relative;
	font-size: 18px;
  background: $white;
  z-index: 5;
}

.lead-margin {
  margin-top: 530px;
}

.splash-header {
  font-weight: 300;
  font-size: 30px;
}

.transitionable {
  opacity: 0;
  -webkit-transition: 1.4s; /* Safari */
  transition: 1.4s;

  &.is-transitioned {
    opacity: 1;
  }
}

.intro {
  padding-top: 10px;

  img {
    display: none;
    margin-left: -60%;
    margin-top: 30px;
    width: 100%;
    margin-right: 2%;
    vertical-align: top;
  }

  .intro-content {
    position: relative;
    top: auto;
    transform: translateY(0%);
    margin-top: 60px;
    display: inline-block;
    width: 100%;
    vertical-align: top;

    i, p {
      display: inline-block;
      vertical-align: middle;
    }

    p {
      width: calc(100% - 100px);
      margin-left: 20px;
    }

    i {
      text-align: center;
      width: 70px;
      color: $pwdlight;
      font-size: 50px;
    }

  }

  .intro-item {
    margin-top: 0px;
    padding-bottom: 60px;
    margin-left: 60px;
    width: 100%;

    &.is-transitioned {
      margin-left: 0px;
    }
  }
}

@media(min-width: 750px) {

  .intro {

    img {
      display: inline-block;
    }

    .intro-content {
      width: 57%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      p {
        width: calc(100% - 120px);
      }

      i {
        font-size: 70px;
        width: 90px;
      }
    }
  }
}

@media(min-width: 1000px) {
  .splash-header {
    font-size: 38px;
  }

  .intro {

    img {
      margin-left: -50%;
      width: 100%;
      margin-right: 1%;
    }

    .intro-content {
      width: 48%;

      .intro-item {
        padding-bottom: 100px;
      }
    }
  }
}

a {
  color: $pwdlight;
}
a:hover {
  color: #10a7d6; }

.navbar {
  padding-top: 20px;
  position: fixed;
  width: 100%;
  color: rgba($brand-color, 1);
  background-color: $white;
  -webkit-transition: 0.2s; /* Safari */
  transition: 0.2s;

  span {
    font-size: 3rem;
  }
  z-index: 999;
  ul {
  	display: inline-block;
    list-style: none;
  }

  li {
    display: inline;
    position: relative;
    margin-right: 2rem;
  }

  a {
    color: rgba($brand-color, .8);
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

    &:hover {
     color: rgba($white, 1);
    }
  }

  &.tab0 {
    color: rgba($pwdlight, 1);

    a {
      color: rgba($pwdlight, 0.8);
    }
  }

  &.tab1 {
    color: rgba($pwdlight, 1);

    a {
      color: rgba($pwdlight, 0.8);
    }
  }

  &.tab2 {
    color: rgba($pwdlight, 1);

    a {
      color: rgba($pwdlight, 0.8);
    }
  }

  &.is-transitioned {
    background-color: rgba($white, 1);
    color: rgba($pwdlight, 1);
    padding-top: 0px;
    border-bottom: 1px solid $grey;

    a {
      color: rgba($pwdlight, 0.8);
    }
  }

  a:hover {
    color: $black;
  }
}
.navbar .pill {
	background: rgba($white, .8);
	padding: 2px 5px;
	border-radius:2px;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
	a {
  color: $black;
}
&:hover {
		background: rgba($white, .25);
		 color: $white;
}
}
.home-link a {
	color: $white;
}
.feature {
	margin-top: 50px;
	padding: 0;
	background: url('map-feature-2.png') no-repeat;
	height: 200px;
	background-size: cover;
	background-position: center center;
	display: table;
	width:100%;
	h1 {
		display: table-cell;
		vertical-align: middle;
	}
}
@media (min-width: 550px) {
	.feature {
		height: 500px;
		margin-top:0;
	}
}

///Page Styles

#plans {
  padding-top: 140px;
  padding-bottom: 120px;
  border-bottom: 2px solid $grey;

  .lead-in-text {
    padding-top: 30px;
  }

  ul {
    margin: 0px;
  }


  .card-data {
    border-radius: 20px;
    padding: 20px;
    padding-top: 30px;
    border: 2px solid $pwdlight;

    a {
      text-decoration: none;
    }

    &:hover {
      background: $pwdlight;
      color: $white;
    }
  }
}


//alt-splash-styles ---------------

.landing-tabs {
  position: absolute;
  height: 530px;
  z-index: -1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translateZ(0);
}

.landing-tab {
  position: fixed;
  width: 90%;
  height: 100%;
  opacity: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: 1.2s; /* Safari */
  transition: 1.2s;

  .lt-img {
    position: absolute;
    width: 0px;
    height: 380px;
    background-size: cover;
    background-position: center left;
    margin-left: 0px;
    margin-top: 100px;
    z-index: 0;
    -webkit-transition: 1.2s; /* Safari */
    transition: 1.2s;

    div {
      height: 100%;
      width: 100%;
      background-color: rgba($black, 0.32);
    }

    &#lt-img-0 {
      background-image: url('https://s3.amazonaws.com/mercury-app-assets/mercury-feature.jpg');
    }

    &#lt-img-1 {
      background-image: url('https://s3.amazonaws.com/mercury-app-assets/home1.jpg');
    }

    &#lt-img-2 {
      background-image: url('https://s3.amazonaws.com/mercury-app-assets/home2.jpg');
    }
  }

  .lt-block {
    position: absolute;
    height: 260px;
    width: 400px;
    margin-top: 0px;
    z-index: 1;
    -webkit-transition: 1.2s; /* Safari */
    transition: 1.2s;

    &.tab0 {
      background-color: rgba($pwdlight, 0.5);
    }

    &.tab1 {
      background-color: rgba($pwdlight, 0.5);
    }

    &.tab2 {
      background-color: rgba($pwdlight, 0.5);
    }
  }

  .lt-subtitle {
    position: absolute;
    color: $white;
    margin-left: 40px;
    margin-top: 230px;
    z-index: 2;
    font-size: 3rem;
    width: 80%;
    font-family: 'Roboto', sans-serif;
  }

  .lt-quip {
    position: absolute;
    margin-left: 22%;
    width: 62%;
    margin-top: 350px;
    color: $white;
    z-index: 2;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: right;

    span {
      width: 20px;
      height: 2px;
      background-color: $white;
      vertical-align: middle;
      margin-right: 5px;
      display: none;
    }
  }

  .lt-arrow {
    position: absolute;
    margin-top: 550px;
    margin-left: 49%;
    color: rgba($pwdlight, 0.5);
    z-index: 2;
    font-size: 4rem;

    &.tab0 {
      color: rgba($pwdlight, 0.5);
    }

    &.tab1 {
      color: rgba($pwdlight, 0.5);
    }

    &.tab2 {
      color: rgba($pwdlight, 0.5);
    }
  }

  .lt-header {
    position: absolute;
    top: 80px;
    z-index: 100;

    h1 {
      text-decorationt-align: center;
      font-size: 6rem;
      margin-left: 0px;
    }

    &.tab0 {
      color: rgba($pwdlight, 0.6);
    }

    &.tab1 {
      color: rgba($pwdlight, 0.6);
    }

    &.tab2 {
      color: rgba($pwdlight, 0.6);
    }
  }

  &.is-active {
    opacity: 1;

    .lt-img {
      width: 80%;
      margin-left: 20%;
    }

    .lt-block {
      margin-top: 180px;
      margin-left: 0px;
      width: 90%;
    }
  }
}

.arrow {
  position: absolute;
  top: 300px;
  height: 30px;
  width: 60px;
  z-index: 5;
  display: none;

  span {
    position: absolute;
    border-radius: 3px;
    height: 4px;
    margin-top: 10px;
    -webkit-transition: 0.4s; /* Safari */
    transition: 0.4s;
  }

  &.tab0 span {
    background-color: rgba($pwdlight, 1);
  }

  &.tab1 span {
    background-color: rgba($pwdlight, 1);
  }

  &.tab2 span {
    background-color: rgba($pwdlight, 1);
  }

  &:hover {
    cursor: pointer;
  }
}

#right-arrow {
  left: calc(95vw - 60px);

  #right1 {
    width: 40px;
  }

  #right2 {
    width: 20px;
    height: 4px;
    margin-left: 20px;
  }

  #right3 {
    width: 20px;
    height: 4px;
    margin-left: 20px;
  }

  &:hover {
    #right1 {
      width: 60px;
      height: 2px;
      margin-top: 11px;
      margin-left: -20px;
    }
    #right2 {
      height: 2px;
      margin-top: 18px;
      margin-left: 45px;
      -ms-transform: rotate(-225deg); /* IE 9 */
      -webkit-transform: rotate(-225deg); /* Chrome, Safari, Opera */
      transform: rotate(-225deg);
    }

    #right3 {
      height: 2px;
      margin-top: 4px;
      margin-left: 45px;
      -ms-transform: rotate(225deg); /* IE 9 */
      -webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
      transform: rotate(225deg);
    }
  }
}

#left-arrow {
  left: 5vw;

  #left1 {
    width: 40px;
  }

  #left2 {
    width: 20px;
    height: 4px;
  }

  #left3 {
    width: 20px;
    height: 4px;
  }

  &:hover {
    #left1 {
      width: 60px;
      height: 2px;
      margin-top: 11px;
    }
    #left2 {
      height: 2px;
      margin-top: 18px;
      margin-left: -25px;
      -ms-transform: rotate(225deg); /* IE 9 */
      -webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
      transform: rotate(225deg);
    }

    #left3 {
      height: 2px;
      margin-top: 4px;
      margin-left: -25px;
      -ms-transform: rotate(-225deg); /* IE 9 */
      -webkit-transform: rotate(-225deg); /* Chrome, Safari, Opera */
      transform: rotate(-225deg);
    }
  }
}

.circles {
  position: absolute;
  top: 490px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  z-index: 5;

  .circle {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 8px;
    border-radius: 0px;
    margin-left: 14px;
    margin-right: 14px;
    background-color: rgba($black, 0.5);
    vertical-align: middle;
    -webkit-transition: 0.1s; /* Safari */
    transition: 0.1s;

    &:hover {
      height: 12px;
      border-radius: 3px;
      cursor: pointer;
    }
  }

  .is-active {
    height: 12px;
    border-radius: 3px;

    &.tab0 {
      background-color: rgba($pwdlight, 1);
    }

    &.tab1 {
      background-color: rgba($pwdlight, 1);
    }

    &.tab2 {
      background-color: rgba($pwdlight, 1);
    }
  }
}

@media(min-width: 700px) {
  .landing-tab {
    width: 700px;

    .lt-header {
      margin-left: -50px;

      h1 {
        font-size: 14rem;
      }

      &.tab0 {
        color: rgba($pwdlight, 0.15);
      }

      &.tab1 {
        color: rgba($pwdlight, 0.15);
      }

      &.tab2 {
        color: rgba($pwdlight, 0.15);
      }
    }

    .lt-arrow {
      margin-left: 342px;
    }

    .lt-subtitle {
      font-size: 6rem;
      width: 600px;
    }

    .lt-quip {
      margin-left: 200px;
      width: 450px;
      margin-top: 390px;
      text-align: left;

      span {
        display: inline-block;
      }
    }

    &.is-active {
      .lt-img {
        width: 500px;
        margin-left: 200px
      }

      .lt-block {
        margin-top: 180px;
        margin-left: 0px;
        width: 400px;
      }
    }
  }

  .arrow {
    display: block;
  }
}
