//Splash Page Styles
.main {
  position: relative;
	font-size: 18px;
  background: $white;
  z-index: 5;
}

.lead-margin {
  margin-top: 0px;
}

.splash-header {
  font-weight: 300;
  font-size: 30px;
  margin-top:30px;
}

.transitionable {
  opacity: 0;
  -webkit-transition: 1.4s; /* Safari */
  transition: 1.4s;

  &.is-transitioned {
    opacity: 1;
  }
}
.mobile-logo{
  margin-top:5px;
  display:inline;
}
.intro {
  padding-top: 10px;

  img {
    display: none;
    margin-left: -65%;
    margin-top: 30px;
    width: 110%;
    margin-right: 2%;
    vertical-align: top;
  }

  .intro-content {
    position: relative;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    overflow-x: hidden;

    i, p {
      display: inline-block;
      vertical-align: top;
    }

    p {
      width: calc(100% - 100px);
      margin-left: 20px;
    }

    i {
      text-align: center;
      width: 70px;
      color: $pwdlight;
      font-size: 50px;
    }

  }

  .intro-item {
    margin-top: 0px;
    padding-bottom: 60px;
    opacity: 0;
    width: 100%;

    &.is-transitioned {
      opacity: 1;
    }
  }
}

@media(min-width: 750px) {

  .intro {

    img {
      display: inline-block;
    }

    .intro-content {
      width: 57%;
      padding-top: 30px;

      p {
        width: calc(100% - 120px);
      }

      i {
        font-size: 50px;
        width: 90px;
      }
    }

    .intro-item {
      margin-left: 60px;

      &.is-transitioned {
        margin-left: 0px;
      }
    }
  }
}

@media(min-width: 1050px) {
  .splash-header {
    font-size: 38px;
  }

  .intro {

    img {
      margin-left: -50%;
      width: 100%;
      margin-right: 1%;
    }

    .intro-content {
      width: 48%;
      padding-top: 60px;

      .intro-item {
        padding-bottom: 100px;
      }

      i {
        font-size: 70px;
      }

    }
  }
}

a {
  color: $pwdlight;
}
a:hover {
  color: #10a7d6; }

.navbar {
  padding-top: 20px;
  position: fixed;
  width: 100%;
  color: rgba($white, 1);
  -webkit-transition: 0.2s; /* Safari */
  transition: 0.2s;

  span {
    font-size: 3rem;
  }
  z-index: 999;
  ul {
  	display: inline-block;
    list-style: none;
  }

  li {
    display: inline;
    position: relative;
    margin-right: 2rem;
  }

  a {
    color: rgba($brand-color, .8);
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

    &:hover {
     color: rgba($white, 1);
    }
  }

  &.tab0 {
    color: rgba($white, 1);

    a {
      color: rgba($white, 0.8);
    }
  }

  &.tab1 {
    color: rgba($pwdlight, 1);

    a {
      color: rgba($pwdlight, 0.8);
    }
  }

  &.tab2 {
    color: rgba($pwdlight, 1);

    a {
      color: rgba($pwdlight, 0.8);
    }
  }

  &.is-transitioned {
    background-color: rgba($white, 1);
    color: rgba($pwdlight, 1);
    padding-top: 0px;
    border-bottom: 1px solid $grey;

    a {
      color: rgba($pwdlight, 0.8);
    }
  }

  a:hover {
    color: $black;
  }
}
.navbar .pill {
	background: rgba($white, .8);
	padding: 2px 5px;
	border-radius:2px;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
	a {
  color: $black;
}
&:hover {
		background: rgba($white, .25);
		 color: $white;
}
}
.home-link a {
	color: $white;
}

///Page Styles

#plans {
  padding-top: 140px;
  padding-bottom: 120px;
  border-bottom: 2px solid $grey;
  background-image: url('https://s3.amazonaws.com/mercury-app-assets/sign-up-photo.jpg');
  background-size: cover;
  background-position: center center;

  .lead-in-text {
    padding-top: 30px;
    color: $white;
    text-shadow: 1px 1px $black;
    font-size: 1.8rem;
  }

  ul {
    margin: 0px;
  }


  .card-data {
    border-radius: 20px;
    padding: 20px;
    padding-top: 30px;
    border: 2px solid $white;
    color: $pwdlight;
    background: rgba($white, 0.8);

    a {
      text-decoration: none;
    }

    &:hover {
      background: rgba($pwdlight, 0.8);
      color: $white;
    }
  }
}


//alt-splash-styles ---------------

.landing {
  position: relative;
  z-index: -1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translateZ(0);
  height: 460px;

  .landing-logo {
    position: absolute;
    opacity: 0;
    font-size: 10rem;
    text-align: center;
    width: 100%;
    margin-top: 160px;
    color: $white;
    -webkit-transition: 0.8s; /* Safari */
    transition: 0.8s;

    &.tran1 {
      opacity: 1;
    }
  }

  .landing-text {
    position: absolute;
    margin-top: 340px;
    color: $white;
    text-align: center;
    width: 100%;

    h1 {
      font-size: 2.5rem;
      padding: 0 10px;
    }
  }

  .landing-content {
    text-align: center;
    position: absolute;
    height: 360px;
    width: 100%;
    opacity: 1;
    -webkit-transition: 0.8s; /* Safari */
    transition: 0.8s;

    &.tran1 {
      opacity: 0;
    }
  }

  .main-object {
    display: inline-block;
    background: $white;
    margin-top: 240px;
    text-align: left;
    border-radius: 10px;
    min-width: 100px;
    -webkit-transition: 0.8s; /* Safari */
    transition: 0.8s;

    p {
      padding: 20px;
      font-size: 1.8rem;
      margin: 0;
    }

    &.tran1 {
      margin-top: 180px;
      margin-left: 55px;
      border-radius: 10px 0 10px 10px;
      background: lighten($pwdlight, 30%);
    }

    &.tran2 {
      background: darken($red, 10%);
    }

    &.tran3 {
      background: darken($green, 10%);
    }
  }

  .landing-icons {
    position: absolute;
    display: inline-block;
    color: white;
    font-size: 1.5rem;
    margin-top: 250px;
    margin-left: -20px;

    span {
      display: none;
      -webkit-transition: 0.2s; /* Safari */
      transition: 0.2s;
    }

    #set-1, #set-2 {
      &.tran1 {
        display: inline-block;
      }

      &.tran2 {
        font-size: 2rem;
      }
    }

  }

  .send {
    display: inline-block;
    font-size: 4rem;
    color: $white;
    margin-top: 245px;
    margin-left: 10px;
    vertical-align: top;
    -webkit-transition: 0.2s; /* Safari */
    transition: 0.2s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;

    &.tran1 {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3);
    }

    &.tran2 {
      opacity: 0;
    }
  }
}

@media(min-width: 700px) {
  .lead-margin {
    margin-top: 460px;
  }

  .landing {
    position: fixed;

    .main-object p {
      font-size: 2.5rem;
    }

    .landing-icons {
      margin-top: 260px;
    }

    .landing-text h1 {
      font-size: 4rem;
    }
  }
}
