.feature {
  margin-top: 58px;
  padding-top: 30px;
  padding-bottom: 24px;
  display: table;
  text-align: center;
  width: 100%;
  color: $white;

  h1 {
    margin: 0;
  }

  p {
    padding-top: 10px;
  }

  i {
    font-size: 8rem;
  }
}

.support-cards {
  padding: 0;
  //background: url('map-feature-2.png') no-repeat;
  background: $grey;
  background-size: cover;
  background-position: center center;
  width:100%;

  .support-card {
    height: 400px;
    background: $grey;
    text-align: center;
    display: table;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    -webkit-transition: 0.3s; /* Safari */
    transition: 0.3s;

    &:hover {
      height: 420px;
      margin-top: -10px;
      box-shadow: 5px 5px 5px #666666;

      .support-card-content {
        background: rgba($black, 0.5);
        color: $white;
      }
    }

    &.right {
      background-image: url('https://s3.amazonaws.com/mercury-app-assets/home1.jpg');
    }

    &.left {
      background-image: url('https://s3.amazonaws.com/mercury-app-assets/home2.jpg');
    }

    .support-card-content {
      display: table-cell;
      vertical-align: middle;
      padding: 50px;
      background: $grey;
      text-decoration: none;
      color: $black;

      p {
        font-size: 1.8rem;
      }
    }
  }
}

@media (min-width: 900px) {
  .feature {
    margin-top: 50px;
  }
}

.faq, .tutorials {
  display: none;
}

.faq {
  h1 {
    margin-bottom: 50px;
  }
}

.tutorials {
  h1 {
    margin-bottom: 50px;
  }

  .tutorial-card-container {
    border-bottom: 1px solid $grey;
    padding-top: 20px;

    p {
      margin-top: 10px;
    }

    &:hover {
      cursor: pointer;

      p {
        color: $pwdlight;
      }

     .tutorial-card {
        div {
          opacity: 1;
        }
      }
    }
  }

  .tutorial-card {
    height: 120px;
    border-radius: 5px;
    border: 1px solid $grey;
    background-size: cover;
    background-position: center center;
    max-width: 220px;
    margin: auto;

    div {
      width: 100%;
      height: 100%;
      background: rgba($black, 0.5);
      opacity: 0;
      display: table;
      text-align: center;
      color: $white;
      font-size: 5rem;
    }

    i {
      display: table-cell;
      vertical-align: middle;
    }
  }

  #tut-card-0 {
    background-image: url('https://s3.amazonaws.com/mercury-app-assets/thumbnail-default.png');
  }

  #tut-card-1 {
    background-image: url('https://s3.amazonaws.com/mercury-app-assets/thumbnail-default.png');
  }

  #tut-card-2 {
    background-image: url('https://s3.amazonaws.com/mercury-app-assets/thumbnail-default.png');
  }
}

#video-modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba($black, 0.85);
  z-index: 9999;
  text-align: center;

  i {
    position: absolute;
    right: 20px;
    top: 3vh;
    font-size: 1.5em;
    color: $white;

    &:hover {
      color: $pwdlight;
      cursor: pointer;
    }
  }

  iframe {
    height: 80vh;
    width: 142.3vh;
    max-width: 90vw;
    margin-top: 10vh;
  }
}
