.task-container {
  width: 100%;
  margin-bottom: 6px;
  border-bottom: 1px solid $grey;
  padding: 5px;

  a {
    text-decoration: none;
  }

  small{
    display:block;
  }
  .task-icons {
    padding-right:0px;
    font-size: 1.8rem;
    margin-top: -5px;

    .fa-exchange:hover {
      color: darken($green, 30%);
    }

    a {
      color: $black;

      .claimed {
        color: darken($green, 30%);
      }
    }

    a:hover {
      color: red;
      cursor:pointer;

      .claimed {
        color: $black;
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
        animation-play-state: paused;
      }

      .unclaimed {
        color: darken($green, 30%);;
      }
    }
  }

  .task-item {
    display: inline-block;
    vertical-align: top;
    padding: 5px;

    a {
      text-decoration: none;
      display: inline-block;
      vertical-align: top;
    }

    &.icon {
      padding: 7px;
      border-radius:7px;
      margin-top: 7px;
      &:hover{
        background: $black;
        cursor: pointer;
      }
    }

    &.content {
      width: calc(100% - 40px);
    }

    &.user {
      width: 15%;

    }
  }

  p {
    margin: 0;
    display: inline-block;
    width: calc(100% - 30px);
    max-width: none;
    min-width: initial;
    padding: 0;
    float: none;
    padding-top: 5px;
    padding-left:10px;
    background:transparent;

    small {
      margin-top: 3px;
    }
  }
}
.completed-tasks-btn{
  display: block;
  text-decoration: none;
  margin-top:15px;
}
.completed-tasks{
  display:none;
}
.pending-tasks {
  .task-container {
    .task-item .icon {
      background: $red;

      &:hover{
        background: $green;
        cursor: pointer;
      }
    }
  }
}
.completed-tasks {
  .task-container {
    .task-item .icon {
      background: $green;

      &:hover{
        background: $red;
        cursor: pointer;
      }
    }
  }
}