.task-container {
  width: 100%;
  background: $grey;
  margin-bottom: 3px;
  padding: 5px;

  small{
    display:block;
  }


  .task-item {
    display: inline-block;
    vertical-align: top;
    padding: 5px;

    &.icon {
      height: 15px;
      width:15px;
      content: " ";
      border-radius:5px;
      border: 1px solid $black;
      padding-top:7px;
      &:hover{
        background: $black;
        cursor: pointer;
      }
    }

    &.content {
      width: 75%;

    }

    &.user {
      width: 15%;

    }
  }

  p {
    margin: 0;
    display: inline;
    max-width: none;
    min-width: initial;
    padding: 0;
    float: none;
    padding-top: 5px;
    padding-left:10px;
  }
}