.task-container {
  width: 100%;
  margin-bottom: 3px;
  border-bottom: 1px solid $grey;
  padding: 5px;

  small{
    display:block;
  }
  .delete-task {
    padding-right:10px;

    a {
      color: $black;
    }

    a:hover {
      color: red;
      cursor:pointer;
    }
  }
  .task-item {
    display: inline-block;
    vertical-align: top;
    padding: 5px;

    a {
      text-decoration: none;
    }

    &.icon {
      padding: 7px;
      border-radius:7px;
      margin-top: 3px;
      &:hover{
        background: $black;
        cursor: pointer;
      }
    }

    &.content {
      width: 75%;
      padding-right:30px;

    }

    &.user {
      width: 15%;

    }
  }

  p {
    margin: 0;
    display: inline;
    max-width: none;
    min-width: initial;
    padding: 0;
    float: none;
    padding-top: 5px;
    padding-left:10px;
    background:transparent;
  }
}
.completed-tasks-btn{
  display: block;
  text-decoration: none;
  margin-top:15px;
}
.completed-tasks{
  display:none;
}
.pending-tasks {
  .task-container {
    .task-item .icon {
      background: $red;

      &:hover{
        background: $green;
        cursor: pointer;
      }
    }
  }
}
.completed-tasks {
  .task-container {
    .task-item .icon {
      background: $green;

      &:hover{
        background: $red;
        cursor: pointer;
      }
    }
  }
}