.pricing-featured{
	padding-top:100px;
	padding-bottom:100px;
	margin-top:57px;
	position:relative;
	background:url('https://s3.amazonaws.com/mercury-app-assets/home2.jpg') no-repeat 80% top;
	background-size:cover;
	  &:before {
    content: '';
		position: absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		background-image: linear-gradient(to bottom right,$pwddark ,$pwdlight);
		opacity: .7;
  	}
  h2.pro-large-text{
  	font-size:100px;
  }
  h2.enterprise-large-text{
  	font-size:75px;
  	margin-bottom:35px;
  	margin-top:35px;
  }
  .white{
  	border-co:#fff;
  }
	.pricing-featured_text {
		color:#fff;
	}
	a{
		color:#ddd;
	}
	p{
		margin-top:20px;
		font-size:11px;
	}

}

#pricing-button {
  position: fixed;
  right: 0;
  margin-right: -100px;
  bottom: 20px;
  z-index: 10;
  opacity: 0;
  padding: 10px 20px 10px 20px;
  background: $white;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid $pwdlight;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  color: $pwdlight;
  font-size: 1.5rem;

  &.is-transitioned {
    opacity: 1;
    margin-right: -1px;
  }

  &:hover {
    color: $white;
    background: rgba($pwdlight, 0.8);
    border-color: $white;
    font-size: 1.8rem;
  }
}

.pricing-details{
	position:relative;
	padding-top:40px;
	padding-bottom:40px;
	margin-top:50px;
	&:before {
    content: '';
		position: absolute;
		width:100%;
		height:100%;
		top:0;
		opacity: .6;
  	}
  	.white-background{
  		margin-top:20px;
  		background-color:rgba($white, .8);
  		border-radius:10px;
  		padding:10px;
  		margin-bottom:20px;
  		hr{
  			border:none;
  			border-bottom:1px solid #999;
  			margin-top:10px;
  			margin-bottom:10px;
  		}
  	}
}
/* Larger than tablet */
@media (min-width: 900px) {
	.pricing-featured{
		margin-top:48px;
		background:url('https://s3.amazonaws.com/mercury-app-assets/home2.jpg') no-repeat top center;
		background-size:cover;
	}
}
