// nav ––––––––––––––––––––––––––––––
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/
a {
  color: rgba($brand-color, .8); 
}
a:hover {
  color: rgba($brand-color, 1); 
// text-shadow: 0 1px 1px $white;
}
.menu-bar {
  height: auto;
  width: 100%;
  background: $brand-color;
  color: $white;
  padding: 5px 10px;
  border-bottom: 1px solid $grey;
  span {
  font-size: 18px;
  line-height: 1.5%;
  }
  a {
    color: $white;
    text-decoration: none;
  }
}
.active {
  background: rgba($white, .25);
}
.current-site-data {
 border-bottom: 1px solid $grey;
 color: $black;
 header {
  padding: 10px;
 }
 span {
  margin-right: 20px;
 }
 i {
  padding-left: 10px;
 }
}
#mobile-current-account {
  display:none;
  position:fixed;
  z-index:1000000000;
  background: #f5f5f5;
  color: #222;
  width:100%;
  left:0;
    li {
   list-style: none;
   border-bottom: 1px solid #ddd;
   &:hover {
    background:#dddddd;
   }
  }

    a{
    text-decoration: none;
    color:#000;
    padding: 20px;
    display:block;
  }
    p {
    border-bottom: 1px solid $grey;
    margin: 0;
    padding:10px;
    background:#fff;
  }
}

.mobile-nav {
    display: block;
    background: lighten($pwdlight, 10%);
    color: #fff;
    padding: 1rem 0;
    z-index: 1000;

    h2 {
      font-weight: 300;
      display: inline;
    }
    a {
      margin-top:5px;
      color: rgba($white, .8);
      text-decoration: none;

    }
    &.menu-bar{
      padding: 5px 10px;
    }
}
//dropdown
@media (min-width: 750px) {
nav#current-account {
  display:none;
  position: absolute;
  right: 0px;
  top: 29px;
  font-size: 1.4rem;
  z-index: 999;
  width:150px;
  background: #f5f5f5;
  color: #222;
  border: 1px solid $grey;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 1px 1px $grey;
  line-height:initial;
      text-align: center;
  a{
    text-decoration: none;
    color:#000;
    padding: 10px;
    display:block;
  }
  p {
    border-bottom: 1px solid $grey;
    margin: 0;
    padding:10px;
    background:#fff;
  }
  li {
   list-style: none;
   border-bottom: 1px solid $grey;
   &:hover {
    background:#dddddd;
   }
  }
  li:last-child{
    border:none;
  }
  &:before{
    border: solid;
    border-color: #fff transparent;
    border-width: 0 .7rem .7rem .7rem;
    top: -.7rem;
    content: "";
    display: block;
    position: absolute;
    z-index: 99;
    right:23px;

  }
}
}
.profile-data {
  float: right;
  font-size: 18px;
  line-height: 1.5%;
  i {
    margin-left: 12px;
  }
}
.nav-icons {
  float: right;
  margin: 0 24px;
  line-height: 40px;
  i {
    color: rgba(white, .8);
    font-size: 2.5rem;
    padding: 0 12px;
    border-left: 1px solid rgba($white, .3);
    &:first-child {
      border-left: none;
    }
    &:hover {
      cursor: pointer;
      color: rgba($white, 1);
    }
  }
 }
//Alex's super fantastical PWD Mobile Nav
.pwd-nav-container {
  position: relative;
  height: 54px;
}

.pwd-nav {
  height: 100%;
  display: block;
}

.pwd-nav-title {
  display: inline-block;
  list-style-type: none;
  margin-top: 14px;
  margin-left: 24px;
  font-size: 1.2em;
}

.pwd-nav-menu {
  display: inline-block;
  float: right;
  list-style-type: none;
  padding-top: 0px;
  margin-right: 24px;
  cursor: pointer;
}

.pwd-nav-items-container {
  margin-top: 0px;
  width: 100vw;
  padding-bottom: 10px;

  ul {
    margin-top: 0px;
    padding-left: 0px;
    ul {
      padding-left: 10px;
    }
  }

  a {
    display: block;
    background: #333;
    padding-left: 24px;
    font-size: 1.2em;
    padding-bottom: 2px;
    padding-top: 2px;
    text-decoration: none;
    width: 100%;
    color: rgba($white, 0.6);

    &:hover {
      color: $white;
    }
  }
}

.pwd-nav-item:hover{
  background-color: #EAEAEA;
}
.mobile-nav{
  position:fixed;
  width:100vw !important;
  box-sizing:border-box;
}

.mobile-nav .user-name {
    display:inline;
    float:right;
  }
.mobile-info {
  width:100%;
  background-color:#444;
  height:35px;
  padding:5px 30px;
  color:#fff;
  top:31px;
}
.mobile-icons {
  display:inline;
  padding:0;
  margin:0;
  font-size:125%;
  i {
    padding-right:20px;
  }
}
.mobile-target{
  top:65px;
}
@media (min-width: 750px) {
  .mobile-target{
    top:auto;
  }
  }

//end Alex's amazing fantastical PWD Nav