// nav ––––––––––––––––––––––––––––––

 /*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

a {
  color: rgba($pwdlight, .8); 
}
a:hover {
  color: rgba($pwdlight, 1); 
text-shadow: 0 1px 1px $white;}
.active {
  font-weight: bold;
  font-size: 2rem;
}

.app-header {
  width: 100%;
  padding: 0 2rem;
  background: $black;
  color: $white;
  border-bottom: 1px solid rgba(white, .3)
}
//Alex's super fantastical PWD Mobile Nav

.pwd-nav-container {
  position: relative;
  height: 54px;
}

.pwd-nav {
  height: 100%;
  display: block;
}

.pwd-nav-title {
  display: inline-block;
  list-style-type: none;
  margin-top: 14px;
  margin-left: 24px;
  font-size: 1.2em;
}

.pwd-nav-menu {
  display: inline-block;
  float: right;
  list-style-type: none;
  padding-top: 0px;
  margin-right: 24px;
  cursor: pointer;
}

.pwd-nav-items-container {
  margin-top: 0px;
  width: 100vw;
  padding-bottom: 10px;

  ul {
    margin-top: 0px;
    padding-left: 0px;
    ul {
      padding-left: 10px;
    }
  }

  a {
    display: block;
    background: #333;
    padding-left: 24px;
    font-size: 1.2em;
    padding-bottom: 2px;
    padding-top: 2px;
    text-decoration: none;
    width: 100%;
    color: rgba($white, 0.6);

    &:hover {
      color: $white;
    }
  }
}

.pwd-nav-item:hover{
  background-color: #EAEAEA;
}

//end Alex's amazing fantastical PWD Nav