
<div class="background-class">
	<div class="container">
		<div class="row">
			<div class="six offset-by-three columns text-center">
				<h1>Awesome! Let's add a new user to this project</h1>
				<%= form_for @project do |f| %>
<div>
    <%= f.label :user_ids, "Add Users" %>
    <%= f.collection_select(:user_ids, User.all_other_users(current_user), :id, :name,{}, {:multiple => true}) %>
</div>
<div>
    <%= f.submit%>
  </div>
<% end %>
			</div>
		</div>
	</div>
</div>
