<%= form_tag subscription_path(current_user.subscription), method: "PUT" do %>
  <div class="tier-select">
    <p><b> Choose Your Level</b></p>
    <%= collection_radio_buttons nil, :tier_id, Tier.all_published, :id, :name, checked: current_user.tier_id %>
  </div>

  <%= submit_tag "Send", class: "button button-primary" %>
<% end %>