<div class="display-table text-center">
  <div class="centered">

<%= render partial: "form", locals: { subscription: @subscription, tier_id: @tier_id, card_token: @card_token } %>

<div id="stripe_error">
  <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
</div>
</div>
</div>