<div class="display-table text-center">
	<div class="centered">
		<h2>Please enter a credit card to get <br> a premium account</h2>

<%= render partial: "form", locals: { subscription: @subscription, tier_id: @tier_id } %>

<div id="stripe_error">
  <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
</div>
</div>
</div>