<%= render partial: "form", locals: { subscription: @subscription, tier_id: @tier_id } %>

<div id="stripe_error">
  <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
</div>