// insert into users page
@keyframes bounce {
  0%{height:425px;}
  45%{height:20px;}
  100%{height:35px;}
}
@-webkit-keyframes bounce {
  0%{height:425px;}
  45%{height:20px;}
  100%{height:35px;}
}
#pwd-message-box {
  width: 100%;
  height:100%;
  border-radius: 3px 3px 0 0;
  margin:0;
  padding:0;
  width: 100% !important;
  z-index:100000000000;
}
#fixed-iframe {
  height: 425px;
  width: 600px;
  position: fixed;
  bottom:0 !important;
  right:50px;
    -webkit-transition: width .7s, height .7s;
  transition: width .7s, height .7s;

}
.pwd-init{
  animation:none !important;
}
.pwd-closed {
  height:35px !important;
  width: 300px !important;
  animation: bounce 2s;
}
#pwd-open-btn{
  position:absolute;
  top:8px;
  right: 10px;
  text-decoration: none;
  color: #000;
  background-color:rgba(255, 255, 255, .6);
  width: 20px;
  line-height: 20px;
  border-radius: 100%;
  text-align:center;
  span{
    background-clip: padding-box;
  }
}
#pwd-open-btn:hover {
  background: #fff;
}



//--------------------------message-view
@keyframes unread {
  50%{background-color:#AF0808;}
}
//------defaults

.brand-color{
      background: #222 !important;
}
.unread-flash{
  animation: unread 5s infinite;
}
// profile pic default 
.profile-pic {
  width:4rem;
  height:4rem;
  border-radius: 100%;
  display:inline-table;
  position:relative;
}
.no--pic {
  display:table;
  text-align: center;
  background: #133c64;
  font-weight: 900;
  font-size: 3rem;
  color: #fff;
  line-height: 1.4;
}

//------main msg bx styles

#msg-bx {
  width: 100%;
  position: fixed;
  top:0 !important;
  header {
    position: relative;
    height:4rem;
    padding-left: 1.5rem;
    color: #fff;
    line-height: 4rem;
    span:hover {
      cursor: pointer; 
    }
  }
  textarea {
    width: 100%;
  }
}

//------dropdown icons

#msg-bx-nav-icons{
  float:right;
  padding-right: 10rem;
  font-size:150%;
  color: rgba(255, 255 , 255, 0.6);
  i:hover, & i.active{
   color:#fff;
  }
  i{
    padding-left: 1rem;
  }
  a{
    color: rgba(255, 255, 255, 0.6) !important;
    text-decoration: none;
    &:hover {
      color: #fff;
      text-shadow: none;
    }
  }
}

@media (max-width: 400px) {
  #msg-bx-nav-icons{
    display: none;
  }
}

//------styles for all dropdowns

.msg-bx-dropdown {
  display:none;
  position: absolute;
  background: #fff;
  color: #000;
  top: 4rem;
  right: 6rem;
  width: 20rem;
  text-align: center;
  border: 1px solid #ddd;
  border-bottom: 3px solid #ddd;
  border-radius: 0 0 3px 3px ;
  overflow: visible;
  z-index: 100;
  p {
    margin-bottom: 0;
    border-bottom: 1px solid #ddd;
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin:0;
  }
  a {
    text-decoration: none;
    margin-bottom: 0;
    color: #000;
    display: block;
    &:hover {
      background:#f5f5f5;
    }
  }
}
//makes each dropdown scrollable, cannot be added to msg-bx-dropdown without losing tooltip 
#msg-bx-convos-list, #msg-bx-user-list, #msg-bx-site-list   {
  max-height:23rem;
  overflow-y: scroll;
}
//creates the tooltip triangle
.msg-bx-dropdown:before{
  border: solid;
  border-color: #fff transparent;
  border-color: rgba(255,255,255, 1) transparent;
  border-width: 0 .7rem .7rem .7rem;
  top: -.7rem;
  content: "";
  display: block;
  position: absolute;
  z-index: 99;
} 
// edits the position of the tooltip triangle for each section
#msg-bx-sites-drop:before{
  right:10.8rem;
}
#msg-bx-convos-drop:before{
  right:10.5rem;
}
#msg-bx-acct-drop:before{
  right:4rem;
}

//------conversation dropdown

#msg-bx-user-list {
  text-align: left;
  .no--pic {
    margin: 1rem;
    display: inline-table;
    height: 3rem;
    width: 4rem;
  }
  .profile-pic {
    margin:1rem;
    img{
      width:4rem;
      height:4rem;
      display:block;
      top:0;
      position: absolute;
    }
  }
  a {
    width:49%;
    display:inline-table;
    float:left;
  }
}

.msg-bx-tab a {
  width: 49%;
  float:left;
  display: inline-table;
  border-bottom: none;
  &:first-child{
    border-right: 1px solid #ddd;
  }
  &:last-child {
    width: 51%;
  }
  &.inactive {
    background: #f5f5f5;
  }
  &:hover{
    background:#fff;
  }
}
.msg-bx-tab {
  border-bottom: 1px solid #ddd;
}
.tab-content{
  position:relative;
}
#msg-bx-users{
  display:none;
}
#msg-bx-convos-drop{
  width:50rem;
  right:3rem;
      .unread-bg {
    background: #ddd;
  }
}
.msg-bx-convo-data {
  h4{
  margin-bottom:0;
  }
}
.msg-bx-convo-item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

//------sites dropdown

#msg-bx-sites-drop .active {
  background: #f5f5f5;
  font-weight: normal;
  font-size: 1.5rem;
}
//------main body styles

.msg-bx-body, .no-convo {
  border: 1px solid #ddd;
  background: #fff;
  min-height: 425px;
}
.no-convo{
  padding-top: 45px;
}

//------conversation meta data

.msg-bx-info {
  height:5rem;
  overflow-y: scroll;
  text-align: center;
  padding:.2rem;
  background: #f5f5f5;
  p {
    margin-bottom: 0;
  }
}

//------conversation main

.msg-bx-convo {
  padding: 1rem;
  overflow-y: scroll;
  height: 30.8rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; 
  z-index: -1;
  p {
    margin-right: 20rem;
    margin-left: 5rem;
    border-radius: 10px 10px 10px 0 ;
    padding: 1rem; 
    background: #ddd;
  }
  .self-pwd {
    margin-left: 20rem;
    margin-right: 0rem;
    border-radius: 10px 10px 0 10px ;
    background: #8dbce9; 
  }
  .them-msg-wrapper  {
    position: relative;
    z-index: 1;
    .profile-pic {
      position:absolute;
      top: 2rem;
      left:0;
      right:auto;
    }
  }
  .self-meta-data{
    display:block;
  }
}

//default message
.no-convo-yet {
}

//message form
.msg-bx-bottom {
    textarea{
    min-height:5rem;
  }
}
#message_content, #content {
resize:none;
border:none;
height:100%;
width:100%;
}
.msg-bx-body-cntn {
  width:100%;
  height:50rem;
  background:#fff;
}

//login form
#msg-bx.mb-form {
 .msg-bx-body{
  height: 500px;
  text-align: center;
  padding-top: 5rem;
 }
 input[type='text'], input[type='password'] {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ddd;
  width:50%;
 }
}
