// insert into users page

#pwd-message-box {
  width: 100%;
  height:100%;
  border-radius: 3px 3px 0 0;
  margin:0;
  padding:0;
  width: 100% !important;
  z-index:100000000000;
}
#fixed-iframe {
  height: 4rem;
  width: 30rem;
  position: fixed;
  bottom:0 !important;
  right:5rem;
  -webkit-transition: width .7s, height .7s;
  transition: width .7s, height .7s;
}
.pwd-open {
  height:47rem !important;
  width: 60rem !important;
}
#pwd-open-btn{
  position:absolute;
  top:1rem;
  right: 2rem;
  text-decoration: none;
  color: #fff;
}
#pwd-open-btn:hover {
  color: #8dbce9;
}





//message-view
.msg-bx-pwd {
  width: 100%;
  position: fixed;
  top:0 !important;
}
.msg-bx-pwd textarea {
  width: 100%;
}
.msg-bx-pwd header {
  position: relative;
  height:4rem;
  padding-left: 1.5rem;
  background: #133c64;
  color: #fff;
  line-height: 4rem;
}
.msg-bx-pwd header span:hover {
  cursor: pointer; 
}

.msg-bx-body-pwd {
  border: 1px solid #ddd;
  background: #fff;
}

.msg-bx-bottom-pwd {
  padding: 0 1rem 2rem; 
}

.msg-bx-convo-pwd {
  padding: 1rem;
  overflow-y: scroll;
  height: 20rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; 
}
.msg-bx-users-pwd p {
  text-align: center;
}
.msg-bx-convo-pwd .self-pwd {
  margin-right: 20rem;
  margin-left: 0;
  border-radius: 10px 10px 10px 0;
  background: #8dbce9; 
}
.msg-bx-convo-pwd p {
  margin-left: 20rem;
  margin-right: 0;
  border-radius: 10px 10px 0 10px;
  padding: 1rem; 
  background: #ddd;
}

.msg-bx-users-pwd {
  display: none;
  max-height: 300px;
  overflow-y: scroll;
  background: #f5f5f5;
}
.msg-bx-users-pwd p {
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
  background:#fff;
}

.msg-bx-user-list-pwd {
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto; 
}
.msg-bx-user-list-pwd li {
  text-align: center;
  cursor: pointer;
  width: 49.5%;
  display: inline-block;
  border-radius: 10px; 
}
.msg-bx-user-list-pwd li:hover {
  background: #ccc; 
}
.button.button-primary-pwd,
button.button-primary-pwd,
input[type="submit"].button-primary-pwd,
input[type="reset"].button-primary-pwd,
input[type="button"].button-primary-pwd {
  color: #FFF;
  background-color: #133c64;
  border-color: #133c64; }
  #pwd-nav-icons{
    float:right;
    padding-right: 10rem;
    font-size:150%;
    color: #6795BA;
  }
  #pwd-nav-icons i:hover{
    color:#fff;
  }
  #pwd-nav-icons i{
    padding-left: 1rem;
  }
.msg-bx-pwd i.active{
  color: #fff !important;
}

//styles for all dropdowns
.msg-bx-dropdown-pwd {
    display:none;
    position: absolute;
    background: #fff;
    color: #000;
    top: 4rem;
    right: 3rem;
    width: 20rem;
    text-align: center;
    border: 1px solid #ddd;
    border-bottom: 3px solid #ddd;
    border-radius: 0 0 3px 3px ;
    overflow: visible;
}
.msg-bx-dropdown-pwd p{
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
}
.msg-bx-dropdown-pwd ul, .msg-bx-dropdown-pwd{
  list-style: none;
  padding-left: 0;
    margin:0;
  a {
    text-decoration: none;
    margin-bottom: 0;
    color: #000;
    display: block;
    &:hover{
      background:#f5f5f5;
  }
  }
}
#msg-bx-convos-pwd{
  width:40rem;
}
#msg-bx-convos-list-pwd {
  max-height:23rem;
  overflow-y: scroll;
}
//creates the tooltip triangle
.msg-bx-dropdown-pwd:before{
  border: solid;
  border-color: #fff transparent;
  border-color: rgba(255,255,255, 1) transparent;
  border-width: 0 .7rem .7rem .7rem;
  top: -.7rem;
  content: "";
  display: block;
  position: absolute;
  z-index: 99;
}
// edits the position of the tooltip triangle
#msg-bx-users-pwd:before{
  left: 4.3rem;
}
#msg-bx-sites-pwd:before{
  left: 11.3rem;
}
#msg-bx-convos-pwd:before{
  left: 28rem;
}
.msg-bx-convo-data h4{
  margin-bottom:0;
}
.msg-bx-info {
  height:5rem;
  overflow-y: scroll;
  text-align: center;
  padding:.2rem;
  background: #f5f5f5;
  p {
    margin-bottom: 0;
  }
}