<div class="site-approval">
  <p><%= user_site.site.name %>
    <%= link_to user_site_path(user_site, user_site: { approved: true }), method: "PUT" do %>
      <i class="fa fa-check-circle"></i>
    <% end %>
    <%= link_to user_site_path(user_site), method: "DELETE" do %>
      <i class="fa fa-times-circle"></i>
    <% end %>
  </p>
</div>