<div class="site-data-partial">
  <h5><%= site.name %></h5>
  <p>Admin: <%= user.admin_of_site?(site) %></p>
  <p>Total Conversations: <%= user.conversations_by_site(site).count %></p>
  <p>Total Messages: <%= user.messages_by_site(site).count %></p>
</div>