<div class="background-class">
	<div class="container">
		<div class="row">
			<div class="six offset-by-three coluns">
				<h1>Awesome! Let's add a new site to your Organization</h1>	
				<%= render partial: "form", locals: { site: @site } %>
			</div>
		</div>
	</div>
</div>