<footer>
  <div class="container">
    <div class="row">
      <p class="text-center">Copyright 2016 | <span class="glipi-font">Glipi</span> App</p>
      <h1 class="text-center">
        <%= link_to "https://www.youtube.com/channel/UC2MwNO_6-cJ_ZH-MECu4tpg", target: '_blank' do %>
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        <% end %>
      </h1>
    </div>
  </div>
</footer>