<footer class="gradient-background">
  <div class="container">
    <div class="row">
      <p class="text-center">Copyright 2016 | <span class="evia-font">Evia</span> App</p>
      <h1 class="text-center">
        <%= link_to "https://www.youtube.com/channel/UCDEtxDElGI70EZNqKs1beyQ?guided_help_flow=3", target: '_blank' do %>
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        <% end %>

        <%= link_to "https://www.facebook.com/Evia-1697632390498341/#", target: '_blank' do %>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        <% end %>
      </h1>
    </div>
  </div>
</footer>