<div class="msg-bx-pwd">
  <header>
    <p>
      <span class="msg-bx-header-txt-pwd">This is Your Message Center</span>
      <a href='#' class='change-convo-pwd'>Message Another User</a>
      <span class="msg-bx-open-button-pwd">
        <b>---</b>
      </span>
    </p>
  </header>
  <div class="msg-bx-is-open-pwd">
    <div class="msg-bx-users-pwd">
      <p><b>Users on this site</b></p>
      <ul class='msg-bx-user-list-pwd'>
        <li>Joe Dell</li>
        <li>Sweet Caroline</li>
        <li>Jimmy James</li>
        <li>Johnny Cash</li>
        <li>Joe Dell</li>
        <li>Sweet Caroline</li>
        <li>Jimmy James</li>
        <li>Johnny Cash</li>
      </ul>
    </div>
    <div class="msg-bx-convo-pwd">
      <p class="self-pwd">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
      <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
    </div>
    <div class="msg-bx-bottom-pwd">
      <label for="exampleMessage-pwd">Message</label>
      <p><textarea placeholder="Hi Dave …" id="exampleMessage"></textarea></p>
      <input class="button-primary-pwd" type="submit" value="Submit">
    </div>
  </div>
</div>
