<section id="support-info">
  <div class="container">
    <div class="row">
      <div class="ten offset-by-one columns text-center">
        <h1 class="splash-header">Need help?</h1>
        <h3>Our team will be happy to assist you. </h3>
        <a href="mailto:admin@eviaonline.io">Send us an email</a>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</section>