<%= form_for password_recovery do |f| %>
  <div class="row form_first-row">
    <label for="email">
      <span>
        Email:
      </span><br>

      <%= text_field_tag :email %>
    </label>
  </div>
 		<%= f.submit 'Recover Password', class: 'button-primary' %>
 <h5><%= link_to 'Cancel', :back %></h5>
<% end %>
