<%= form_for password_recovery do |f| %>
  <div class="field">
    <%= text_field_tag :email, nil, placeholder: "Email" %>
  </div>

  <p>We will email you with instructions to create a new password</p>

  <%= f.submit 'Send Password Recovery Email', class: 'primary button-primary' %>
<% end %>