<%= render partial: 'layouts/header', locals: { transitioned: true } %>
<div class="form-background gradient-background">

  <div class="form-page">
    <div>
      <div class="form_header">
        <h2 class="form_title">Please enter your email</h2>
      </div>
      <div class="form_content">
        <h5 class="text-center">We will email you with instructions to create a new password</h5>

		    <%= render partial: "form", locals: { password_recovery: @password_recovery } %>
      </div>
    </div>
	</div>
</div>